vorm-object-suggest-display > div{
	display: flex;
}

// onderstaande  hack vervangen met iets constructievers

vorm-object-suggest-display,
.file-list-item,
.object-list-item,
.zs-modal vorm-file-display {
	+ .vorm-clear{
		display: block;
		right:10px;
	}
}
