<div class="notification-list-item-icon">
	<zs-icon icon-type="{{vm.getNotificationIcon()}}" class="notification-list-item-icon"></zs-icon>
</div>

<div class="notification-list-item-content">
	<div class="notification-list-item-title">
		<a 
			class="notification-list-item-link" 
			ng-if="vm.isLink()"
			ng-href="{{vm.getCaseLink()}}" 
			ng-click="vm.onNavigate()"
		>
			{{vm.getLinkLabel()}}</a>:
		<span class="notification-list-item-label">{{vm.getNotificationTitle()}}</span>
	</div>
	
	<div class="notification-list-item-message" ng-if="notification.message">
		<div class="notification-list-item-message-sender">
			<zs-icon class="notification-list-item-message-sender-icon" icon-type="account"></zs-icon>
			{{vm.getMessageSender()}}:
		</div>
		<div class="notification-list-item-message-content" zs-truncate="{{vm.getMessageContent()}}" zs-truncate-length="100"></div>
	</div>
	<div class="notification-list-item-meta">
		<div class="notification-list-item-date">
			{{vm.getTimestamp()}}
		</div>
	</div>
</div>

<div class="notification-list-item-icon notification-list-item-archive-button">
	<button 
		ng-click="vm.archiveNotification($event)"
		zs-tooltip="Archiveren"
	>
		<zs-icon icon-type="check" class="notification-list-item-icon"></zs-icon>
	</button>
</div>