/* RESET */
@import "../../../shared/styles/index";

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;

	> ui-view {
		display: flex;
		height: 100%;
	}

}

word-app {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
}

.scroll-container {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex: 1 0 auto;
	flex-flow: column;
}


.body-scroll-container .zs-modal-body{
    height: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    min-width: 0 !important;
}


/**************

View Animations

***************/

@keyframes detail-modal-in {
	0%, 50% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}

@keyframes detail-modal-out {
	0% { transform: translateX(0); }
	50%, 100% { transform: translateX(100%); }
}

@keyframes view-in {
	0%, 50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}

}

@keyframes view-out {
	0% {
		opacity: 1;
	}
	50%, 100% {
		opacity: 0.5;
	}
}
