<div class="top-bar"
	ng-class="{'top-bar-highlighted': vm.isSpotEnlighterActive() }"
>

	<div class="top-bar-customer">

		<div>
			<zs-side-menu
				data-company="vm.company()"
				data-user="vm.user()"
				data-development="vm.development()"
				instance-id="vm.instanceId()"
			>
			></zs-side-menu>
		</div>

		<a
			ng-href="{{vm.getHome()}}"
			ng-if="vm.isDashboardLinkVisible()"
			class="top-bar-customer-home"
		>
			Dashboard
		</a>

		<zs-icon
			icon-type="chevron-right"
			class="top-bar-next-level"
			ng-show="!vm.isHome()&&vm.isDashboardLinkVisible()">
		</zs-icon>

		<div class="top-bar-current-location" ng-bind-html="vm.getPageTitle()" ng-show="!vm.isHome()"></div>

	</div>

	<div class="top-bar-spot-container">

		<zs-universal-search
			is-active="vm.isSpotEnlighterActive($getter)"
			use-location="vm.useLocation()"
			data-user="vm.user()"
			on-open="vm.onOpen()"
			on-close="vm.onClose()"
			ng-if="vm.isAllowed()"
		>
		</zs-universal-search>

	</div>

	<div class="top-bar-action-container">
	
 		<zs-contextual-setting-menu
			ng-if="vm.isAllowed()"
		>
		</zs-contextual-setting-menu>

	</div>

</div>

<zs-ui-view-progress view-name="*" show-spinner="false">
</zs-ui-view-progress>
