// Dossier

.pip-case-component{
    margin:0 0 3.5em 0;
    h2{margin:0 0 10px;}
}

.ie8 .pip-case-component h2{
    margin:0;
}

    // Form

    .pip-case-form-phase{
        margin-bottom:2px;
    }

    .pip-case-form-phase-title{
        padding:.8em;
        color:#fff;
        font-weight: bold;
        width:100%;
        display: block;
        font-size:1em;
        text-align: left;
        outline:none;
        span{
            font-weight: normal;
            i{font-size:1.2em;margin-right:2px;}
        }
    }

    .pip-case-form-phase-title-primary{
        display: inline-block;
        vertical-align: middle;
    }

    .pip-case-form-phase-title-meta{
        float:right;
    }

    .pip-case-form-phase-title-text{
        display: inline-block;
    }

    .pip-case-form-phase-title-icon{
        width:16px;
        display: inline-block;
        text-align:center;
        margin-right:2px;
    }

    .pip-case-form-phase-inactive{
        @include opacity(.5);
        &:hover{
            cursor:default;
        }
    }

    .pip{
        .kenmerk-label{
            margin-top: 0;
        }
        .kenmerk-veld{
            label{line-height: 1.5;}
            //padding:10px 0;
            line-height: 1.5;
            ul{list-style:disc;
            li{
                margin-left:20px;
                }
            }
        }
        .kenmerk-empty{
            padding:15px 0;
            margin:0;
            border-bottom:1px solid #ddd;
            font-size:1em;
            color:#999;
        }
        .field-help{
            padding-left:0;
            .icon-question-sign{
                color:$primary-color;
                &:hover{
                    color:black;
                }
            }
        }
    }

    .pip .kenmerk ul{
        margin-left: 17px;
    }

    // Message

    .pip-case-message{
        textarea{
            width:100%;
            display:block;
            &.ng-dirty.ng-invalid, &.ng-dirty.ng-invalid{
                @include box-shadow(none);
                border-color: #bbb;
            }
        }
    }

    .pip-case-message-field{
        margin:0 0 10px;
        p{
            margin:10px 0;
        }
    }

    .pip-case-message-email-copy{
        margin:0 0 10px;
    }


    // Documenten

    .pip-case-documents-upload{
        button{
            margin:0;
            display: none;
        }
        &[data-zs-file-api-supported] button{
            display: block;
        }
    }

    ul.pip-case-document-list{
        margin-bottom:10px;
    }

    .pip-case-document{
        border-bottom:1px solid #ddd;
        padding:9px 0;
        position: relative;
        &:first-child{
            border-top:1px solid #ddd;
        }
    }

    .pip-case-document-icon, .pip-case-document-title, .pip-document-state-icon, .pip-document-state-label{
        display: inline;
    }

    .pip-case-document-title{
        button{
            background:none;
            margin:0;
            padding:0;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .pip-case-document-icon{
        margin-right:4px;
        i{
            color:#555;
        }
    }
    
    .pip-case-document-state{
        color:#999;
        position:absolute;
        right:0;
        top:50%;
        margin-top:-0.7em;
    }

    .pip-case-document-upload{
        .pip-case-document-icon i, .pip-case-document-title{
            color:#999;
        }
        .pip-case-document-state{
            color:#000;
        }
    }