// Variables

$pip-anchor-color: saturate($primary-color,50%) !default;
$pip-anchor-color-hover: darken($pip-anchor-color,30%) !default;


// Globals

.pip{
    clear: both;
}

.pip *{
    @include box-sizing(border-box);
}

.pip{
    td{font-size:inherit;line-height:1.3;}
    ul{margin:0;list-style: none;padding: 0;}
    input[type=text]{border: 1px solid #ccc;border-radius: 0;}
    table thead{display:none;}
    .ezra_clickable_tr:hover{
        td{background:#f7f7f7;}
        a{color:$pip-anchor-color-hover;}
    }
}
 
.toggle-pip-nav, #toggle{
    display: none;
}

.pip-nav {
    font-size: 1em;
    font-weight: bold;
    ul{
        list-style:none;
    }
    ul li {
        float: left;
        padding: 0;
        line-height: 1;
        a {
            position: relative;
            text-decoration: none;
            display: block;
            i{
                margin-right: 3px;
            }
        }
    }
}

.pip-page-title{
    margin: 0 0 20px;

    h1{
        padding:30px 0 0;
        margin:0;
    }
}

.pip-instances .crud-pagination{
    display: none;
}

.pip-block-content{
    margin-bottom:35px;
}
