[% nowrapper=1 %]
[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

[% layout_type = 'simple' %]

<div id="loginwrap" class="alt-auth alt-auth-smscode">
    <div class="block">
        <div class="block-header">
            <h1>Inloggen</h1>
        </div>
        <div class="block-content clearfix">
            <div class="alt-auth-small-form">


                <p class="alt-auth-intro">
            
                U heeft een SMS-Code ontvangen. Vul deze hieronder in om in te loggen.
                [% IF twofactor_error %]
                    <span class="alt-auth-error">[% twofactor_error %]</span>
                [% END %]
                </p>
            
                <form action="[% c.uri_for('/auth/twofactor/verify_second_factor') | html_entity %]" method="POST" class="zvalidate">
                    <div class="row">
                        <div><label for="authcode">SMS-code *</label></div>
                        <div class="column"><input type="text" name="factor" id="authcode">
                        [% PROCESS widgets/general/validator.tt %]</div>
                    </div>

                    <button type="submit" value="Code controleren" class="button button-primary">
                        <span class="a">Code controleren</span>
                    </button>
                    <br>
                </form>

            </div>
        </div>
    </div>
</div>

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
