// active subject

    .kcc-bar{
        position: fixed;
        width:780px;
        z-index: 3000;
        bottom: 0px;
        left: 50%;
        margin-left: -370px;
    }
    
    .kcc-icon-incoming-call{
        width: 12px;
        height: 12px;
        background-position: 0 -38px;
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -6px;
    }

    .kcc-active-subject{
        width:780px;
    }
    
    .kcc-content{
        padding: 13px 16px 13px 78px;
        position: relative;
        background: $alert-warning-bg;
        border: 1px solid darken($alert-warning-border,5%);
        border-bottom: none;
        //  @include box-shadow(-1px 0px 15px rgba(0,0,0,0.2));
    }
    
    .kcc-content-icon{
        width: 39px;
        height: 38px;
        position: absolute;
        left: 20px;
        top: 50%;
        margin-top: -19px;
        font-size:2.7em;
        opacity: .5
    }
    
    .kcc-content-meta{
        float: left;
        width: 490px;
        overflow: hidden;
    }
    
    .kcc-contact-more{
        white-space:nowrap;
    }
    
    .kcc-content-meta-label{
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .kcc-active-subject-buttons{
        float: right;
        margin-top: 6px;
    }
    
    .kcc-active-subject-close{
        width: 18px;
        height: 18px;
        background: url(/images/icons-kcc.png) no-repeat 0 -138px;
        opacity: .5;
        position: absolute;
        top: 50%;
        margin-top: -9px;
        right: 28px;
    }
    
    .kcc-active-subject-close:hover{
        opacity: 1;
    }


// incoming call

    .kcc-tab-list{
        margin-left: 1px;
    }
    
    .kcc-tab{
        font-size: 12px;
        float: left;
        border: 1px solid darken($alert-warning-border,5%);
        padding: 8px 15px;
        font-weight: 500;
        position: relative;
        z-index: 1;
        bottom: -1px;
        margin-left: -1px;
        background: #fffcad;
        list-style:none;

        @include box-shadow(inset 0px -2px 1px rgba(0,0,0,0.1));
        button{
            font-family: $font-family;
            background:none;
            font-weight: 600;
            opacity:.9;
            &:active,&:focus{
                outline:none;
            }
        }
    }
    
    .kcc-tab:hover{
        cursor: pointer;
        z-index: 1;
        position: relative;
        border-color: #777;
        border-bottom-color: #acacac;
        background: #fffb92;
    }
    
    .kcc-tab.kcc-tab-active{
        border-bottom: none;
        bottom: -1px;
        padding: 8px 15px 9px;
        background: $alert-warning-bg;
        @include box-shadow(none);
        &:hover{
            border-color:#acacac;
        }
    }

    .kcc-tab.kcc-call-subject .kcc-icon-incoming-call{
        display: none;
    }
    
    .kcc-call.kcc-call-incoming.kcc-call-active:hover{
        background: #ffffea;
        border-color: #acacac;
    }

    .kcc-call.kcc-call-incoming{
        padding-left:32px;
    }
    
    .kcc-call.kcc-call-incoming:hover{
        background: #fffb92;
        
        border-color: #777;
        border-bottom-color: #acacac;
    }
    
    .kcc-incoming-call{
        border: 1px solid #babca0;
        border-bottom: none;
        width: 550px;
        left: 50%;
        margin-left: -275px;
        padding: 0 0 0 100px;
        display: table;
        vertical-align: middle;
        height: 100px;
    }
    
    .kcc-incoming-call-icon{
        background-position: 0 -38px;
        width: 53px;
        height: 53px;
        position: absolute;
        left: 25px;
        top: 50%;
        margin-top: -26px;
        vertical-align: middle;
    }
    
    .kcc-incoming-call-subject{
        font-size: 16px;
        display: table-cell;
        vertical-align: middle;
        width: 405px;
        line-height: 43px;
        height: 43px;
        float: left;
    }
    
    .kcc-incoming-call-subject > span{
        opacity: .8;
    }
    
    .kcc-incoming-call-buttons{
        display: table-cell;
        vertical-align:middle;
        width: 145px;
    }
    
    .kcc-incoming-call-buttons button{
        width: 53px;
        height: 49px;
        margin-left: 7px;
        text-indent: -9999px;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), 0 1px 1px rgba(0,0,0,0.18);
        padding: 0;
        position: relative;
    }

    
    .kcc-incoming-call-buttons .btn-accept{
        background: #cfdd61;
        background: -moz-linear-gradient(top,  #cfdd61 0%, #cfdd61 48%, #c2d054 53%, #c2d054 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfdd61), color-stop(48%,#cfdd61), color-stop(53%,#c2d054), color-stop(100%,#c2d054));
        background: -webkit-linear-gradient(top,  #cfdd61 0%,#cfdd61 48%,#c2d054 53%,#c2d054 100%);
        background: -o-linear-gradient(top,  #cfdd61 0%,#cfdd61 48%,#c2d054 53%,#c2d054 100%);
        background: -ms-linear-gradient(top,  #cfdd61 0%,#cfdd61 48%,#c2d054 53%,#c2d054 100%);
        background: linear-gradient(to bottom,  #cfdd61 0%,#cfdd61 48%,#c2d054 53%,#c2d054 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfdd61', endColorstr='#c2d054',GradientType=0 );
    }
    
    .kcc-incoming-call-buttons button i{
        width: 51px;
        height: 47px;
        background-position: 0 -91px;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .kcc-incoming-call-buttons .btn-deny i{
        background-position:-51px -91px;
    }
    
    .kcc-incoming-call-buttons .btn-deny{
        background: #ff9883;
        background: -moz-linear-gradient(top,  #ff9883 0%, #ff9883 48%, #f28b76 53%, #f28b76 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9883), color-stop(48%,#ff9883), color-stop(53%,#f28b76), color-stop(100%,#f28b76));
        background: -webkit-linear-gradient(top,  #ff9883 0%,#ff9883 48%,#f28b76 53%,#f28b76 100%);
        background: -o-linear-gradient(top,  #ff9883 0%,#ff9883 48%,#f28b76 53%,#f28b76 100%);
        background: -ms-linear-gradient(top,  #ff9883 0%,#ff9883 48%,#f28b76 53%,#f28b76 100%);
        background: linear-gradient(to bottom,  #ff9883 0%,#ff9883 48%,#f28b76 53%,#f28b76 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9883', endColorstr='#f28b76',GradientType=0 );
    }