<div class="veldoptie_bankaccount_wrap" data-ng-controller="nl.mintlab.core.IsolationController">
	<div data-ng-init="enforce=true" data-zs-case-webform-iban-field>
		<input type="text" [% my_veldoptie_id %] name="[% veldoptie_name %]" data-ng-init="[% veldoptie_name %]='[% veldoptie_value %]'" data-ng-model="[% veldoptie_name %]" data-zs-iban-validate class="veldoptie_[% veldoptie_type %]" data-zs-placeholder="enforce && 'Bijv. NL91ABNA0417164300' || 'Bijv. 417164300'" />

		<label>
			<input type="checkbox" data-ng-model="enforce">IBAN
		</label>

		<i data-ng-show="[% veldoptie_name %].length&&caseForm.[% veldoptie_name %].$valid" class="veldoptie_email_icon veldoptie_email_ok icon-font-awesome icon-ok"></i>

		<i data-ng-show="!caseForm.[% veldoptie_name %].$valid&&!caseForm.[% veldoptie_name %].$pristine" class="veldoptie_email_icon veldoptie_email_ok icon-font-awesome icon-remove"></i>
	</div>
</div>
