[% USE Dumper %]

[% veldoptie_values = {} %]

[% BLOCK debug_output %]
    <pre>opties: [% Dumper.dump(veldoptie_opties) %]
    <br/>values: [% Dumper.dump(veldoptie_values) %]
    </pre>
[% END %]
[% #PROCESS debug_output %]

[% FOREACH value IN veldoptie_value.list %]
    [% value_escaped = value | html_entity %]
    [% veldoptie_values.$value = value_escaped %]

    [% IF show_inactive %]
        [% # if a 'mogelijkheid' -- field option has been deleted, still show the value %]
        [% found = 0 %]
        [% FOR option IN veldoptie_opties %]
            [% IF option.value == value %]
                [% found = 1 %]
            [% END %]
        [% END %]

        [% UNLESS found %]
            [% veldoptie_opties.push({value => value}) %]
        [% END %]
    [% END %]
[% END %]

[% template = 'widgets/general/veldoptie/' _ veldoptie_type _ '.tt' %]
[% PROCESS $template %]
