.recaptchatable a{
    display: block;
    width: 25px;
    height: auto;
    &:focus{
        outline: blue solid 2px !important;
    }
}

#recaptcha_widget_div *{
    box-sizing: content-box !important;
}