<!-- we use novalidate to allow multiple email addresses -->
<form ng-submit="vm.handleSubmit()" novalidate>
	<vorm-fieldset
		data-fields="vm.getFields()"
		data-valid="vm.getValidity()"
		data-values="vm.getValues()"
		on-change="vm.handleChange($name,$value)"
	>
	</vorm-fieldset>

	<div class="form-actions">
		<button
			type="submit"
			ng-disabled="vm.isDisabled()"
			class="btn btn-primary"
		>
			Verstuur e-mail
		</button>
	</div>

</form>
