.mijlpaal_definitie{
    position: relative;
}

.mijlpalen{
    td{
        padding:13px 2px;
        vertical-align: middle !important;
        text-align:center;
    }
    input[type=text]{
        font-size:14px;
        padding:6px 8px;
        width:100%;
        @include box-sizing(border-box);
    }
}