.zaaktypebeheer-actie-header{
	margin:25px 0 5px;
}

.zaaktypebeheer-actie{
	padding:.8em 0;
	border-bottom:1px solid #e5e5e5;
	&:first-child .zaaktypebeheer-actie-header{
		margin:0 0 5px;
	}
}

.zaaktypebeheer-acties-standaard-teksten-header{
	margin:10px 0;
}