<div class="proposal-detail-view__header" ng-style="{ 'background-color': proposalDetailView.getStyle()['background-color'] }">

	<div class="proposal-detail-view__header-container">

		<button class="proposal-detail-view__header-button" ng-click="proposalDetailView.goBack()">
			<zs-icon icon-type="arrow-left"></zs-icon>
		</button>
		<div class="proposal-detail-view__header-title">
			{{proposalDetailView.getTitle()}}
		</div>
		
	</div>
	
</div>

<div class="proposal-detail-view__body">

	<proposal-note-bar 
		ng-if="proposalDetailView.isWriteModeEnabled()"
		ng-click="proposalDetailView.handleNoteClick()"
		proposal-id="proposalDetailView.proposalId" 
		proposal-title="proposalDetailView.getTitle()"
		on-save-note="proposalDetailView.handleSaveNote($proposalId)"
		>
	</proposal-note-bar>

	<proposal-vote-bar
		ng-if="proposalDetailView.isVotingAllowed() && proposalDetailView.voteBarData()"
		proposal-ref="proposalDetailView.proposalRef"
		proposal-vote-config="proposalDetailView.voteBarConfig()"
		proposal-vote-data="proposalDetailView.voteBarData()"
		proposal-closed="proposalDetailView.isCaseClosed()"
		on-vote="proposalDetailView.handleVote($proposalId, $voteData)"
	>
	</proposal-vote-bar>

	<ul class="proposal-detail-view__list"
		ng-class="{'wide': proposalDetailView.getViewSize() === 'wide'}"
		>

		<li 
			ng-if="proposalDetailView.isCaseClosed()"
			class="proposal-detail-view__item--resultmessage"
		>
			<zs-icon icon-type="alert-outline"></zs-icon>
			<span>Dit voorstel is afgehandeld. U kunt geen wijzigingen meer aanbrengen.</span>
		</li>

		<li class="proposal-detail-view__item" ng-repeat="field in proposalDetailView.getFields() track by field.id">
			<div class="proposal-detail-view__label">{{field.label}}</div>
			<div class="proposal-detail-view__value" ng-bind-html="field.template"></div>
		</li>
		<li class="proposal-detail-view__item" ng-repeat="field in proposalDetailView.proposalResults() track by field.id">
			<div class="proposal-detail-view__label">{{field.label}}</div>
			<div class="proposal-detail-view__value" ng-bind-html="field.template"></div>
		</li>
		<li ng-if="proposalDetailView.getAttachments()" class="proposal-detail-view__label">Bijlagen</li>
		<li class="proposal-detail-view__file" ng-repeat="file in proposalDetailView.getAttachments() track by file.reference">
			<a ng-href="{{proposalDetailView.getFileUrl(file.reference)}}" ng-click="proposalDetailView.handleFileClick(file, $event)">
				<zs-icon icon-type="file"></zs-icon>
				<div class="proposal-detail-view__value">{{file.instance.name}}</div>		
			</a>
		</li>
	</ul>

</div>
