<div class="proposal-note-view__header">

	<div class="proposal-note-view__header-container">

		<button class="proposal-note-view__header-button" ng-click="proposalNoteBar.goBack()">
			<zs-icon icon-type="arrow-left"></zs-icon>
		</button>

		<div class="proposal-note-view__header-title">
			{{proposalNoteBar.getTitle()}}
		</div>

		<button 
			class="proposal-note-view__header-button--save" 
			ng-click="proposalNoteBar.saveNote()">
			Opslaan
		</button>
		
	</div>
	
</div>

<div class="proposal-note-view__body">
		
	<textarea 
		ng-model="proposalNoteBar.noteContent"
		placeholder="Deze notitie is alleen voor u zichtbaar."
		>
	</textarea>

</div>
