@import "../../styles/variables";

zs-snackbar{}

.snack-list{
	position: fixed;
	left:18px;
	bottom:18px;
	right: 18px;
	z-index: 100;
}

.snack.ng-enter {
	opacity: 0;
}

.snack.ng-enter-active {
	opacity: 1;
}

.snack {
	border-radius:$border-radius;
	padding:1.1rem 15px;
	display: flex;
	flex-grow: 1;
	box-shadow:#{$shadow};
	position: absolute;
	bottom: 0px;
	margin-bottom: 0;

	&:not(.collapsed) {
		width: 100%;
	}

	&.ng-animate {
		transition: 0.15s ease-out all;	
	}

	.snack-action .btn{
		color:$accent-color;
		padding:0 .5em;
		line-height:1.4;
		text-align: right;
		height:auto;
		&:hover{
			text-decoration: underline;
			background:none;
		}
	}
	&.collapsed-remove-active {
		.snack-message {
			white-space: nowrap;
		}
	}
	&.collapsed {
		width: 55px;
		&.count {
			width: 70px;
		}
		.snack-message {
			white-space: nowrap;
			display: none;
		}
		.snack-close {
			display: none;
		}
	}
}

.snack-list-expanded .snack {
	position: static;
	margin-top: 5px;
}

.snack-type-error{
	background:$snackbar-error-bg-color;
	.snack-action .btn{
		color:#fff;
	}
}

.snack-type-info,
.snack-type-wait {
	background:$snackbar-info-bg-color;
}

.snack-type-wait {
	//width:auto;
	zs-spinner {
		.spinner-google {
			border-color: #fff;
			border-top-color: rgba(255, 255, 255, 0);
		}
	}
}

.snack-pending {
	position: relative;
	display: flex;
	padding-right: 10px;
	align-items: stretch;
	.snack-count {
		display: none;
		color: white;
		font-size: 0.6em;
	}
}

.snack.count {
	zs-spinner {
	}
	.snack-count {
		margin-left: -100%;
		display: flex;
		flex: 1 1 auto;
		align-items: center;
		justify-content: center;
	}
}

.snack-message{
	color:#fff;
	font-size:.93rem;
	margin-right:7px;
	flex-grow:1;
	display: flex;
	align-items:center;
}

.snack-message-content{
	flex-grow:1;
}

.snack-actions{
	display: inline;
	margin-left:5px;
}

.snack-action{
	@include button-reset();
	color:#78D3FF;
	text-transform: uppercase;
	font-weight: 600;
	&:hover{
		text-decoration: underline;
	}
}

.snack-close{
	display: flex;
	button{
		border:none;
		background:none;
		padding:0;
		i{
			color:#fff;
			font-size:1.25rem;
			display: flex;
		}
	}
}

@media #{$medium-and-up} {
	.snack {
		&:not(.collapsed) {
			width: 500px;
		}
	}
}