[% USE JSON %]

<span class="zaak-meta-item zaak-meta-item-anchor" data-ng-class="{'zaak-meta-item-editable': caseConfidentiality.canChange() }" data-zs-case-confidentiality data-can-change="[% c.can_change ? 'true' : 'false' %]" data-constants="constants" data-zs-title="Vertrouwelijkheid" data-zs-popup="'/html/case/confidentiality.html'" data-ng-click="openPopup()" data-zs-title="Vertrouwelijkheid">
	<i class="mdi icon-lebensraum" data-ng-class="{ 'mdi-eye-off' : caseConfidentiality.isConfidential(), 'mdi-eye': !caseConfidentiality.isConfidential() }"></i><span class="ng-cloak"><[caseConfidentiality.getLabel()]></span>
    <script type="text/zs-scope-data">
    	{
    		"constants": [% JSON.encode(ZCONSTANTS.confidentiality) %]
    	}
	</script>
</span>

<script type="text/ng-template" id="/html/case/confidentiality.html">
	<div data-zs-modal data-ng-init="title='Vertrouwelijkheid'" class="modal-vertrouwelijkheid">
		<label data-ng-repeat="option in caseConfidentiality.getOptions()">
			<input type="radio" data-ng-model="caseConfidentiality.confidentiality" data-ng-value="option.value" data-ng-change="caseConfidentiality.handleConfidentialityChange()"/>
			<[option.label]>
		</label>
	</div>
</script>
