[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

<div class="block">
    <div class="block-header">
        <h1 class="block-header-title">
        [% zaak.zaaktype_node_id.titel %]
        </h1>
    </div>
    <div class="block-content">
        <div class="mislukt">
             <h2>[% ogone_error %]</h2>
             [%- IF ogone_cancel %]
             <p>De betaling voor uw aanvraag is door u geannuleerd, de aanvraag wordt niet in behandeling genomen en is vernietigd.</p>
             [%- ELSIF ogone_decline %]
             <p>De betaling voor uw aanvraag is afgewezen, de aanvraag wordt niet in behandeling genomen en is vernietigd.</p>
             [%- ELSE %]
             <p>Neem contact op met uw gemeente voor meer informatie. <br/>Gebruik <strong>zaaknummer [% zaak.id %]</strong> als referentie.</p>
             [% END %]
         </div>
    </div>
</div>

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
