[% bodyid = 'login' %]

                <div id="loginwrap">

                    <div class="block">

                        <div class="header">Login</div>

                        <div class="blockcontent">

                            [% IF c.user_exists %]
                                <p>U bent al ingelogd</p>
                            [% ELSE %]
                                <form action="[% c.uri_for('/auth/page') %]" method="POST">
                                <input type="hidden" name="referer" value="[% referer | html %]" />

                                <div class="input-wrapper">
                                    <input id="id_username" class="text input_gebruiker" type="text" name="username" placeholder="Gebruikersnaam">
                                </div>
  

                                <div class="input-wrapper">
                                    <input id="id_password" class="text input_ww" type="password" name="password" autocomplete="off" placeholder="Wachtwoord">
                                </div>

                                <div>
                                    [%- IF c.session.login_failed && c.session.login_failed > 0 %]
                                        <div class="id_wrong">Incorrecte inloggegevens</div>
                                    [% END %]
                                </div>

                                <div class="button-wrapper">
                                    <input type="submit" value="Inloggen" class="button button-primary">
                                </div>

                                </form>
                            [% END %]

                            </div>



                            [% IF idps.size -%]
                            <div class="ad-koppeling-divide">OF</div>
                            [% END -%]

                            <div class="ad-koppeling-buttons">

                            [% FOREACH idp IN idps %]
                            <form action="[% c.uri_for('/auth/saml/' _ idp.id) %]" method="POST">
                                <input type="hidden" name="success_endpoint" value="[% success_endpoint | html %]" />
                                <input type="hidden" name="failure_endpoint" value="[% failure_endpoint | html %]" />

                                <button type="submit" value="Inloggen met [% idp.name | html %]" class="button button-secondary ad-koppeling-button">
                                    <span class="a">Inloggen met [% idp.name %]</span>
                                </button>
                            </form>
                            [% END %]

                            </div>




                        </div>

                    </div>

