<tr
    class="ezra_table_row[% (!mresultaat ? '_template' : '') %]"
    id="ezra_table_resultaat_row_number[% (mresultaat ? '_' _ mresultaati : '') %]">
    <td class="td15 ver_center no-border drag"></td>
    <td class="td_14px tdvar">
        <input type="hidden" class="roworder" name="params.status.resultaten.mijlsort[% (mresultaat ? '.' _ mresultaati : '') %]" value="[% mresultaati %]" />
        <span class="ezra_ztb_result_resultaat">[% mresultaat.resultaat |ucfirst %]</span>
        (<span class="ezra_ztb_result_label">[% mresultaat.label %]</span>)
    </td>
    <td>
        <div class="row-actions">
            <a
            href="[% formaction _ '/resultaat/bewerken' %]"
            class="edit ezra_table_row_edit row-action"
            title="Resultaat bewerken"
            rel="ezra_dialog_layout: large; callback: ezra_ztb_result_update">
                <i class="icon-font-awesome icon-pencil"></i>
            </a>
            <a href="#" class="ezra_table_row_del row-action">
                <i class="icon-font-awesome icon-remove"></i>
            </a>
        </div>
    </td>
</tr>


