<div class="kenmerk-veld row">
	<div class="column large-4">
		<div class="field-label field-has-help">
			<div class="field-help">
				[% PROCESS widgets/general/dropdown.tt
					dropdown_content = 'Sta toe dat objecttypes in zaaktypes worden toegevoegd',
				    icon = 'icon-question-sign',
				    icon_type = 'icon-font-awesome'
				%]
	        </div>
	        <label>Objecttypes in zaaktypes toestaan</label>
		</div>
	</div>
	<div class="column large-8">
		<div class="field">
			<input type="checkbox" name="custom_objects_enabled" [% value ? 'checked="checked"' : '' %] />
		</div>
	</div>

</div>
