<div class="kenmerk-veld row">
	<div class="column large-4">
		<div class="field-label field-has-help">
			<div class="field-help">
				[% PROCESS widgets/general/dropdown.tt
					dropdown_content = 'Deze setting wijzigt het sjabloon dat gebruikt wordt om e-mail notificaties te versturen bij een toewijzing wijziging op een zaak',
				    icon = 'icon-question-sign',
				    icon_type = 'icon-font-awesome'
				%]
	        </div>
	        <label>Gebruikers kunnen hun eigen wachtwoord wijzigen</label>
		</div>
	</div>
	<div class="column large-8">
		<div class="field">
			<input type="checkbox" name="users_can_change_password" [% value ? 'checked="checked"' : '' %] />
		</div>
	</div>

</div>