[% USE Dumper %]
[% USE JSON %]


<div class="block casetype-children-wrapper ztb">

     <form method="POST" action="[% formaction %]" class="ezra_zaaktypebeheer" enctype="multipart/form-data">
        <input type="hidden" name="zaaktype_update" value="1" />
        <input type="hidden" name="auth_update"     value="1" />

        <div class="block-header ztb-header clearfix">
            [% IF(zaaktype_id) %]
            <div class="block-header-title">[% params.node.titel | html %] -  
            [% ELSE %]
                Zaaktype aanmaken
            [% END %]
                <span>Kinderen</span>
            </div>
        </div>
        <div class="blockcontent">
            [% PROCESS beheer/zaaktypen/finish/child_casetypes.tt %]
            <div class="form-actions form-actions-sticky clearfix">
                <input type="submit" name="goback" value="Vorige" class="button-secondary button left">
                [% PROCESS beheer/zaaktypen/voortgang.tt %]
                <input type="submit" value="Volgende" class="button-primary button right">
                <input name="destination" type="hidden" value="" />
            </div>
        </div>
    </form>

</div>
