<!-- Default container content -->

[% IF trail && layout_type != 'simple' %]
<div class="breadcrumb-wrapper">
    <div class="breadcrumb">
    [% count = 0; %]
    [% FOR trailitem IN trail %]
        [% count = (count + 1) %]
        [% IF count == 1 %]
            <a href="[% trailitem.uri %]" class="breadcrumb-item-button">[% trailitem.label %]</a>
            [% NEXT %]
        [% END %]
        [% prevcount = (count - 1) %]
        [% IF prevcount == trail.max %]
            <span class="breadcrumb-arrow"></span>
            <span class="breadcrumb-item-label">[% trailitem.label %]</span>
        [% ELSE %]
            <span class="breadcrumb-arrow"></span>
            <div class="breadcrumb-item">
                <a href="[% trailitem.uri %]" class="breadcrumb-item-button">[% trailitem.label %]</a>
            </div>
        [% END %]
    [% END %]
    </div>
</div>
[% END %]

[% USE JSON %]

<script>
    (function ( ) {
    
        angular.element(document).ready(function ( ) {
            var dataStore = window.dataStore;
            
            if(!dataStore) {
                dataStore = window.dataStore = [];
            }
            
            function pushMessage ( message, type ) {
                dataStore.push('messages', {
                    content: message,
                    type: (type || 'info')
                });
            }
            
            [% IF c.user_exists %]
                [% FOREACH message IN c.flash.result %]
                    pushMessage([% JSON.encode(message.message) %], [% JSON.encode(message.type) %]);
                [% END %]
            [% END %]
            
            [% IF flash %]
                
                [% IF flash.size %]
                    [% FOREACH message IN flash %]
                        pushMessage([% JSON.encode(message.message) %], [% JSON.encode(message.type) %]);
                    [% END %]
                [% ELSE %]
                    pushMessage([% JSON.encode(flash) %]);
                [% END %]
            
            [% END %]
        });
    
        
    
    })();
</script>

[% content %]

<!-- END default container content -->
