case-list-item-list-item{
	display: block;
	border-bottom: solid 1px #ddd;

	& > a {
		display: block;
		padding: 15px;

		&:active{
			background: #ddd;
		}
	}

	.case-list-item--titlerow{
		display: flex;
		flex-direction: row;
		margin-bottom: 5px;
	}

	.case-list-item--title{
		font-size: 16px;
		font-weight: 400;
		display: flex;
		flex: 1 1 auto;
		margin-right:15px;
	}

	.case-list-item--days-left{
		display: inline-block;
		min-width: 22px;
		height: 22px;
		padding-left: 5px;
		padding-right: 5px;
		margin-left: auto;
		color: #fff;
		text-align: center;
		border-radius: 3px;
		line-height: 22px;
		font-size:.9rem;

		&.urgentie_low{
			background: rgb(144,217,59);
		}
		&.urgentie_medium{
			background: rgb(255,161,54);
		}
		&.urgentie_high{
			background: rgb(246,54,54);
		}
	}

	.case-list-item--locationrow{
		color: #aaa;
		font-size: 14px;
	}

	zs-icon{
		font-size: 17px;
	}



}
