<div class="wgt-betrokkene-medewerker_search">
    <table class="table_zaakinformatie marginbottom">
        <tr class="table_zaakinformatie_tr">
            <td class="table_td_left_zaakinformatie">Zoekterm:</td>
            <td class="table_td_right_zaakinformatie"><input type="text" name="[% SEARCH_INPUT_PREFIX %]freetext" class="input_large" value=""></td>
        </tr>
        [% IF wgt_config.post_button %]
        <tr class="table_zoeken_tr_bottom">
            <td class="table_zoeken_td100_2"></td>
            <td class="table_zoeken_tdvar"><input type="submit" value="Zoeken" class="button button-primary right"></td>

        </tr>
        [% END %]
    </table> 
</div>
[% IF search_filter_post || !c.req.is_xhr %]
<label class="extra_options">
    <input
        type="checkbox"
        name="inactive_search"
        value="1" /> Inclusief inactieve gebruikers
</label>
[% END %]
