[%
    rechtsvormmap = ZCONSTANTS.kvk_rechtsvormen ;
    betrokkene_rechtsvorm = betrokkene.rechtsvorm;
%]
<div class="grid-table">

    [% UNLESS hide_bron_gegevens || pip %]
    <div class="row">
        <div class="column large-4"><label>Type:</label></div>
        <div class="column large-8">[% brontype.${betrokkene.btype} || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Bron:</label></div>
        <div class="column large-8">[% !betrokkene.authenticated ? 'Zaaksysteem' : broninfo.${betrokkene.btype} || "-" %]</div>
    </div>
    [% END %]
    <div class="row">
        <div class="column large-4"><label>KvK-nummer:</label></div>
        <div class="column large-8">[% betrokkene.dossiernummer || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Vestigingsnummer:</label></div>
        <div class="column large-8">[% betrokkene.vestigingsnummer || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Handelsnaam:</label></div>
        <div class="column large-8">[% betrokkene.handelsnaam || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Rechtsvorm:</label></div>
        <div class="column large-8">
            [% rechtsvormmap.${betrokkene_rechtsvorm} || "-" %]
        </div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Land:</label></div>
        <div class="column large-8">
            [% betrokkene.country || "-" %]
        </div>
    </div>
    [% IF betrokkene.landcode == 6030 %]
    <div class="row">
        <div class="column large-4"><label>Vestiging straat:</label></div>
        <div class="column large-8">[% betrokkene.vestiging_straatnaam || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Vestiging huisnummer:</label></div>
        <div class="column large-8">[% betrokkene.vestiging_huisnummer || "-" %]</div>
    </div>
    <div class="row">
         <div class="column large-4"><label>Vestiging huisletter:</label></div>
         <div class="column large-8">[% betrokkene.vestiging_huisletter || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Vestiging toevoeging:</label></div>
        <div class="column large-8">[% betrokkene.vestiging_huisnummertoevoeging || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Vestiging postcode:</label></div>
        <div class="column large-8">[% betrokkene.vestiging_postcode || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Vestiging woonplaats:</label></div>
        <div class="column large-8">[% betrokkene.vestiging_woonplaats || "-" %]</div>
    </div>
    [% ELSE %]
    <div class="row">
        <div class="column large-4"><label>Adresregel 1:</label></div>
        <div class="column large-8">[% betrokkene.vestiging_adres_buitenland1 || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Adresregel 2:</label></div>
        <div class="column large-8">[% betrokkene.vestiging_adres_buitenland2 || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Adresregel 3:</label></div>
        <div class="column large-8">[% betrokkene.vestiging_adres_buitenland3 || "-" %]</div>
    </div>
    [% END %]
    <div class="row">
        <div class="column large-4"><label>Contactpersoon voorletters:</label></div>
        <div class="column large-8">[% betrokkene.contact_voorletters || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Contactpersoon tussenvoegsel:</label></div>
        <div class="column large-8">[% betrokkene.contact_voorvoegsel || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Contactpersoon achternaam:</label></div>
        <div class="column large-8">[% betrokkene.contact_geslachtsnaam || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Nummer vaste telefoon:</label></div>
        <div class="column large-8 validator-next-line">
            <input type="text" name="npc-telefoonnummer" class="input_medium" value="[% betrokkene.telefoonnummer %]" />
            [% PROCESS widgets/general/validator.tt %]
        </div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Nummer mobiele telefoon:</label></div>
        <div class="column large-8 validator-next-line">
            <input type="text" name="npc-mobiel" class="input_medium" value="[% betrokkene.mobiel %]" />
            [% PROCESS widgets/general/validator.tt %]
        </div>
    </div>
    <div class="row">
        <div class="column large-4"><label>E-mail:</label></div>
        <div class="column large-8 validator-next-line">
            <input type="text" name="npc-email" class="input_medium" value="[% betrokkene.email %]" />
            [% PROCESS widgets/general/validator.tt %]
        </div>
    </div>
    [% UNLESS pip %]
    <div class="row">
        <div class="column large-4"><label>Interne notitie:</label></div>
        <div class="column large-8"><input type="text" name="npc-note" class="infinite" value="[% betrokkene.note %]"><span class="validator"></span></div>
    </div>
    [% END %]
</div>

[% IF pip %]
<div class="form-actions">
     <input type="submit" value="Opslaan" class="button button-primary" />    
</div>       
[% END %]
