<div class="contextual-action-form-header">
	<div class="contextual-action-form-title">
		{{::vm.action().label}}
	</div>
	<button class="contextual-action-form-close" ng-click="vm.onClose($event)">
		<zs-icon icon-type="close"></zs-icon>
	</button>
</div>

<div class="scroll-container">
	<zs-transclude></zs-transclude>
</div>
