.pip-nav{
	background:$secondary-color !important; 
	border-bottom-color:darken($secondary-color,10%) !important;
	ul li{
		a{
			color:$primary-color !important;
		}
		&.current a, a:hover{
			background:darken($secondary-color,10%) !important;
		}
	}
}

.header{
	color:$primary-color !important;
	background:$secondary-color !important; 
}

.button-primary.button-id{
	background:$button-id-bg-color;
	&:hover{
		background:darken($button-id-bg-color,10%);
	}
	&:active{
		background:lighten($button-id-bg-color,10%);
	}
}

.block > .header > .header-actions{
    .button-secondary{
        color:$primary-color;
        &:hover{
            background:rgba(255,255,255,0.4);
        }
        i{
        	color:$primary-color;
        }
    }
}

.pip-case-progress .pip-case-progress-bar{
	background:$secondary-color;
}