@import "../partials/dependencies";

$primary-color: #004982;
$secondary-color: #e3001c;
$anchor-color:$primary-color;
$anchor-color-hover:$secondary-color;
$anchor-text-decoration:none;
$anchor-text-decoration-hover:none;
$font-size:82.5%;
$font-family:'helvetica neue',helvetica,arial,sans-serif;
$logo-url: "../../form/bbz/images/logo-bbz.jpg";
$button-id-bg-color:$anchor-color;
$button-primary-bg:$anchor-color;
$heading-weight:bold;
$heading-color:$anchor-color;
$heading1-fontsize:230%;
$heading2-fontsize:150%;
$heading1-color:$heading-color;
$heading2-color:$heading-color;
$heading1-weight:$heading-weight;
$heading2-weight:$heading-weight;
$header-height:80px;
$title-height:45px;
$border-radius:0;
$pip-case-progress-bar-bg:$primary-color;
$header-padding:14px 0 22px 0;
$logo-width:460px;
$logo-height:50px;
$border-radius:5px;

$pip-progress-bar-bg:lighten($primary-color,45%);
$pip-progress-bar-percentages:$primary-color;

@import "template-normalize";
@import "template-closed";
@import "basic-template";
 
@import "template-defaults";
@import "button-reset";