@import "../partials/dependencies";

$logo-url: "../../form/brandweer/img/logo.gif";
$logo-width:250px;
$header-height:95px;

$primary-color:#e90001;
$secondary-color:#c6eafb;
$button-id-bg-color: #333;

$anchor-color:black;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:underline;
$font-family:'helvetica neue',helvetica,arial,sans-serif;
$font-size:87.5%;
$template-width:960px;

$pip-nav-background-color:$primary-color;
$pip-nav-border-color:darken($pip-nav-background-color,10%) !important;
$pip-nav-border-color-active:$pip-nav-border-color;
$pip-nav-anchor-color:white;
$pip-progress-bar-bg:$secondary-color;
$toggle-pip-nav-color:#000;

$title-text-color:white;
$title-bg-color:$primary-color;

$background-color:red;

@import "template-normalize";
@import "template-closed";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";