$primary-color:#083e80;
$anchor-color:$primary-color;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:none;
$anchor-text-decoration-hover:underline;
$font-size:75%;
$font-family:'helvetica neue',helvetica,arial,sans-serif;
$template-width:960px;
$button-id-bg-color:$primary-color;
$pip-progress-bar-bg:lighten($primary-color,55%);
$button-primary-bg:$primary-color;
$button-primary-bg-hover:lighten($primary-color,5%) !important;
$stap-line-height:1.7;
$pip-nav-anchor-color:$primary-color;
$pip-nav-border-color:#ddd;

@import "template-normalize";
@import "template-defaults";
@import "template-custom";
@import "button-reset";


h1{
	font-size:1.8em;
	font-weight:bold;
	line-height:1.3;
}

.pip{
	padding-top: 0;
}

.pip-overview-block-title h2{
	margin:20px 0;
}

.header-actions .button:hover{
	text-decoration:none;
}

a.button.button-primary:hover{
	color:#fff !important;
}

.block{
	width: 100%;
	padding: 0;
	.block-header{
		padding: 15px 0px 25px;
		.block-header-title{
			line-height: 1.5;
		}
	}
}

.webform .block > .block-header{
	padding: 15px 0;
}

.block-content h2{
	font-size: 1.4em !important;
	font-weight: normal !important;
}

#loginwrap .block > .block-header{
	padding-bottom:0;
}


// bussum template overrides

.content{
	clear: both;
	padding-top: 30px;
}

#jpcarousel li {
	width:162px;
	height:112px;
}

#bread {
	width: 99%;
}

#language-tool{
    background: url(../../../form/bussum/img/language-switcher.jpg) no-repeat scroll 0 0 transparent;
    height: 24px;
    left: 845px;
    position: absolute;
    top: 4px;
    width: 110px;
}

#fontsizer .tx-fontsizer-pi1 {
    left: 1px;
    position: relative;
    top: -2px;
}

#header-bottom{background: none !important;}

#wrap{padding:20px;}

#loginwrap label{float: none;}

.ncsolr-label-search {
    float: left;
}

#footer .dmailsub-footer .button,
#projecten #footer .dmailsub-footer .button{
	border-radius:0;
	-webkit-border-radius:0;
}