@import "../partials/dependencies";

$template-basic:true;
$template-type:open;

$primary-color:#d72f35;
$secondary-color:#16678a;
$tertiary-color:#E7F2F6;
$button-id-bg-color: #333;

$logo-url: "../../form/hillegom/img/logo-hillegom.png";
$logo-width:172px;
$logo-height:53px;
$logo-margin:0 0 0 25px;
$header-height:103px;
$header-padding:25px 0 0;
$header-bg:$primary-color;

$button-primary-bg:$primary-color;
$button-primary-color:white;
$button-primary-bg-hover:lighten($primary-color,3%);
$button-in-title-color:$secondary-color;
$border-radius:0;

$anchor-color:black;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:none;
$font-family: Droid Sans, sans-serif;
$font-size:100%;
$template-width:960px;

$container-border:none;

$pip-nav-background-color:transparent;
$pip-nav-border-color:$primary-color;
$pip-nav-border-color-active:$secondary-color;
$pip-nav-anchor-color:$primary-color;
$pip-nav-anchor-color-active:$secondary-color;
$pip-nav-bg-active:transparent;
$pip-nav-font-size:1em;
$pip-nav-bg-hover:rgba(255,255,255,.5);
$toggle-pip-nav-color:#000;
$pip-nav-border-weight:2px;

$pip-progress-bar-percentages:$secondary-color;
$pip-progress-bar-bg:lighten($secondary-color,50%);

$title-text-color:$secondary-color;
$title-bg-color:white;
$title-font-size:1.75em;
$title-font-weight:normal;
$title-padding-top:1em;
$title-padding-bottom:0em;
$title-padding-right:1.25em;
$title-padding-left:1.25em;

$heading1-color:$secondary-color;
$heading1-fontsize: 2em;
$heading1-weight:normal;

$heading2-color:$secondary-color;
$heading2-fontsize:1.6em;
$heading2-weight:normal;

$stap-active-anchor-font-weight:bold;
$stap-active-bg-color:$secondary-color;

$icon-question-sign-color:$secondary-color;

$pip-phase-title-bg:$tertiary-color;
$pip-phase-title-color:#000;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

.pip-nav{
	ul li.current a{
		border-bottom:2px solid $pip-nav-border-color-active;
		margin-bottom:-2px;
	}
}

.pip-case-form-phase-title{
	font-weight: normal;
}
        
