@import "../partials/dependencies";

$font-family:Arial, Helvetica, sans-serif;
$font-family-2: "Trebuchet MS", Helvetica, sans-serif;

$logo-url: "../../form/lansingerland/img/logo.jpg";
$logo-width:340px;
$logo-height:76px;
$header-height:95px;
$header-padding:8px 0;
$title-font-family:$font-family-2;



$primary-color:#46AA42;
$secondary-color:#CE003E;
$tertiary-color:#5F5F5F;
//$button-id-bg-color: #333;

$heading2-fontsize: 1.666666666666667em;
$heading2-color:#46AA42;
$heading2-weight: bold;
$heading2-font-family:$font-family-2;

$button-primary-bg:$secondary-color;

$button-primary-font-weight:bold;
$button-primary-font-size:1.25em;

$button-font-family:$font-family-2;

$border-radius:0px;

$anchor-color:black;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:underline;

$font-size:75%;
$template-width:960px;

$pip-nav-background-color:$primary-color;
$pip-nav-border-color:darken($pip-nav-background-color,10%) !important;
$pip-nav-border-color-active:$pip-nav-border-color;
$pip-nav-anchor-color:white;
$pip-progress-bar-bg:$secondary-color;
$toggle-pip-nav-color:#000;

$pip-progress-bar-bg:lighten($secondary-color,20%);

$title-text-color:white;
$title-bg-color:$primary-color;

$stap-active-bg:$secondary-color;
$icon-question-sign-color:$secondary-color;

@import "template-normalize";
@import "template-closed";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";