@import "../partials/dependencies";

$logo-url: "../../form/lingewaard/img/logo.jpg";
$logo-width:340px;
$logo-height:76px;
$header-height:95px;
$header-padding:8px 0;

$primary-color:#1d479a;
$secondary-color:#f7c334;
$tertiary-color:#b81262;
$button-id-bg-color: #333;

$button-primary-bg:$secondary-color;
$button-primary-color:#000;

$anchor-color:black;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:underline;
$font-family:'helvetica neue',helvetica,arial,sans-serif;
$font-size:82.5%;
$template-width:960px;

$pip-nav-background-color:$primary-color;
$pip-nav-border-color:darken($pip-nav-background-color,10%) !important;
$pip-nav-border-color-active:$pip-nav-border-color;
$pip-nav-anchor-color:white;
$pip-progress-bar-bg:$secondary-color;
$toggle-pip-nav-color:#000;

$pip-progress-bar-bg:lighten($secondary-color,20%);

$title-text-color:white;
$title-bg-color:$primary-color;

@import "template-normalize";
@import "template-closed";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";