@import "../partials/dependencies";

$template-basic:true;
$template-type:open;

$logo-url: "../../form/teylingen/img/logo-teylingen.jpg";
$logo-width:300px;
$logo-height:80px;
$logo-margin:0;
$header-height:110px;
$header-padding:10px 0 0 10px;
$header-bg:#fff;

$primary-color:#1e76a6;
$secondary-color:#ced32e;
$tertiary-color:#ccdee8;
$button-id-bg-color: #333;

$button-primary-bg:$primary-color;
$button-primary-color:white;
$button-primary-bg-hover:lighten($primary-color,3%);
$button-in-title-color:white;
$border-radius:2px;

$anchor-color:black;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:none;
$font-family: Helvetica, sans-serif;
$font-size:82.50%;
$template-width:960px;

$container-border:none;

$pip-nav-background-color:$primary-color;
$pip-nav-border-color:#AFD79B;
$pip-nav-border-color-active:$secondary-color;
$pip-nav-anchor-color:white;
$pip-nav-anchor-color-active:white;
$pip-nav-bg-active:transparent;
$pip-nav-font-size:1em;
$pip-nav-bg-hover:rgba(255,255,255,.2);
$toggle-pip-nav-color:white;
$pip-nav-border-weight:0px;

$pip-progress-bar-bg:lighten($primary-color,50%);

$title-text-color:white;
$title-bg-color:$primary-color;
$title-font-size:1.75em;
$title-font-weight:normal;
$title-padding-top:.5em;
$title-padding-bottom:.5em;
$title-padding-right:1.25em;
$title-padding-left:1.25em;

$heading1-color:#4F4F4F;
$heading1-fontsize: 1.8em;
$heading1-weight:bold;

$heading2-color:#4F4F4F;
$heading2-fontsize:1.6em;
$heading2-weight:bold;

$stap-active-anchor-font-weight:bold;
$stap-active-bg-color:$primary-color;

$icon-question-sign-color:$secondary-color;

$pip-phase-title-bg:$tertiary-color;
$pip-phase-title-color:#4f4f4f;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

.pip-nav{
	ul li.current a{
		border-bottom:2px solid $pip-nav-border-color-active;
	}
}

.pip-case-form-phase-title{
	font-weight: normal;
}