@import "../partials/dependencies";

$logo-url: "../../form/tholen/img/logo.png";
$logo-height:75px;
$logo-margin:0 0 0 20px;

$primary-color: #314973;
$secondary-color: rgb(34, 70, 133);
$tertiary-color: #da2241;

$button-id-bg-color: #333;
$button-id-font-weight:normal;
$button-primary-bg:$tertiary-color;
$button-primary-font-weight:bold;

$anchor-color:$primary-color;
$anchor-color-hover:black;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:underline;

$font-family:'Open Sans','helvetica neue',helvetica,arial,sans-serif;
$font-size:82.5%;

$template-width:960px;

$gradient-swatch1:#fff;
$gradient-swatch2:#f9d310;

$heading1-color:$primary-color;

$header-bg:$primary-color;


$pip-nav-border-color:$tertiary-color;
$pip-nav-border-color-active:$tertiary-color;
$pip-nav-border-weight:10px;
$pip-nav-border-color-hover:lighten($primary-color,10%);

$title-font-weight:normal;
$title-bg-color:$primary-color;

$toggle-pip-nav-color:#333;

@import "template-normalize";
@import "template-closed";
@import "basic-template";
@import "template-defaults";
@import "button-reset";

.block-header{
	border-bottom:10px solid $tertiary-color;
}

@import "template-media-queries";