@import "../partials/dependencies";

$logo-url: "../../form/werkplein/img/logo.png";
$logo-width:300px;
$logo-height:48px;
$logo-margin:0 0 0 15px;
$header-height:85px;
$header-padding:20px 0;

$primary-color: #002c5a;
$secondary-color: #e31818;

$button-id-bg-color: #333;

$button-primary-bg:$secondary-color;
$button-primary-color:#fff;
$button-primary-bg-hover:lighten($button-primary-bg,10%);
$button-primary-bg-active:darken($button-primary-bg,10%);

$anchor-color:$primary-color;
$anchor-color-hover:$secondary-color;

$anchor-text-decoration:none;
$anchor-text-decoration-hover:none;

$font-family:'helvetica neue',helvetica,arial,sans-serif;
$font-size:82.5%;
$template-width:960px;

$pip-nav-background-color:$primary-color;
$pip-nav-border-color:darken($pip-nav-background-color,10%) !important;
$pip-nav-border-color-active:$pip-nav-border-color;
$pip-nav-anchor-color:white;
$pip-progress-bar-bg:$secondary-color;
$toggle-pip-nav-color:#000;

$pip-progress-bar-bg:lighten($secondary-color,20%);

$title-text-color:white;
$title-bg-color:$primary-color;

@import "template-normalize";
@import "template-closed";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

@media only screen and (max-width: 600px){
	#logo{width:203px;}
	#logo a{
        width: 203px;
        background-size: 609px;
    }
}
