@import "../partials/dependencies";

$template-basic:true;

$logo-url: "../../form/wijkbijduurstede/img/logo.png";
$logo-width:340px;
$header-height:95px;

$primary-color:#005c97;
$secondary-color:#c6eafb;
$button-id-bg-color: #333;

$button-in-title-color:$primary-color;
$button-in-title-bg-hover:rgba(255,255,255,0.4);
$button-in-title-icon-color:$primary-color;

$anchor-color:$primary-color;
$anchor-color-hover:darken($primary-color,10%);
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:underline;
$font-family:'helvetica neue',helvetica,arial,sans-serif;
$font-size:87.5%;
$template-width:960px;

$pip-nav-background-color:$secondary-color;
$pip-nav-border-color:darken($secondary-color,10%) !important;
$pip-nav-border-color-active:$pip-nav-border-color;
$pip-nav-anchor-color:$primary-color !important;
$pip-progress-bar-bg:$secondary-color;
$toggle-pip-nav-color:#000;

$title-text-color:$primary-color !important;
$title-bg-color:$secondary-color;

$title-padding-right:20px;
$title-padding-left:20px;

@import "template-normalize";
@import "template-closed";
@import "basic-template";
@import "template-defaults";
@import "button-reset";

@import "template-media-queries";

@media only screen and (max-width: $breakpoint-mobile) {
	#logo{
		width:auto;
	}
	#logo a{
		width:auto;
		background:url('../../form/wijkbijduurstede/img/logo-mobile.png') no-repeat left center;
	}
}