.interface-test-options{
	border-bottom:1px solid #ddd;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:130px;
	position:relative;
	min-height:45px;
	button{
		position:absolute;
		right:0;
		top:5px;
	}
}

.interface-test-options .button140:active{
	position:absolute;
}

.interface-test-description{
	max-width:600px;
}

.interface-test-list-item{
	position:relative;
	border-bottom:1px solid #ddd;
	padding:12px 0;
	list-style:none;
}

.interface-test-list-item-start,
.interface-test-list-item-status{
	position:absolute;
}

.interface-test-list-item-start{
	right:0;
	top:15px;
}

.interface-test-list-item-status{
	right:80px;
	top:22px;
	.icon-warning-sign{
		color:darken(red,5%);
	}
	.interface-test-list-item-result-running{
		background: url(/images/loader.gif) no-repeat center center;
		width: 16px;
    	height: 11px;
	}
}

.interface-test-list-item-error{
	border:1px solid darken(red,10%);
	background-color:lighten(red,40%);
	padding:3px 7px;
	margin-top:4px;
	display: inline-block;
}

.interface-test-list-item-meta{
	padding:0 110px 0 0px;
}

.interface-test-runner{
	max-width:600px;
}