[% USE Dumper %]

[% PROCESS form/navigation.tt %]

[% IF in_previous_step %]
<div class="form-warning"><i class="icon-font-awesome icon-warning-sign"></i> Waarschuwing: Het wijzigen van gegevens kan mogelijk invloed hebben op vervolgstappen van het formulier. Om deze reden dient u de vervolgstappen opnieuw te doorlopen. De eerder ingevulde gegevens zijn bewaard gebleven.</div>
[% END %]

[% FOREACH item IN webform_form_hiddens_extra %]
    <input type="hidden" name="[% item.key %]" value="[% item.value %]">
[% END %]

<input type="hidden" name="submit_value" value="" />
<input type="hidden" name="create" value="1"/>
<input type="hidden" name="update_kenmerken" value="[% process.current_stap %]"/>
<input type="hidden" name="process_stap" value="[% process.next_stap %]" />
<input type="hidden" name="process_previous_stap" value="[% process.previous_stap %]" />
<input type="hidden" name="process_step_index" value="[% process_step_index %]" />
<input type="hidden" name="ztc_aanvrager_id" value="[% aanvrager.betrokkene_identifier %]"/>
<input type="hidden" name="allow_cheat" value="[% allow_cheat %]"/>
<input type="hidden" name="ztc_aanvrager_type" value="[% ztc_aanvrager_type %]" />

<div class="formOverlay"></div>
<div class="spinner-groot">
    <div>
        <span class="spinner-groot-message">
        </span>
    </div>
</div>

[% IF process.current_stap == 'verify' %]
    [% PROCESS form/fields_view.tt %]
[% ELSE %]
<fieldset>
    [% PROCESS form/fields.tt %]
</fieldset>
[% END %]

<div class="form vragen_form table_window no_margin" data-ng-show="caseWebformRuleManager.isFixedValue('case.price')">
    <div class="row kenmerk-veld">
        <div class="column large-4">
            <label class="titel">Bedrag</label>
        </div>
        <div class="column large-8">
            <div class="field field-has-help">
                &euro; <[caseWebformRuleManager.getFixedValue('case.price')]>
            </div>
        </div>
    </div>     
</div>

<div class="start_zaak_box" data-ng-show="caseWebform.isApplicationPaused()">
    <img src="/images/icon-info-wit.png" alt="Let op" />
       <div class="start_zaak_box_content" data-ng-bind-html="caseWebform.getApplicationPausedMessage()">
        </div>
</div>

[% PROCESS form/captcha.tt %] 

[% UNLESS process.current_stap == 'verify' %]
<div class="form-required-fields-explanation">
    * = Verplicht veld
</div>
[% END %]

<div class="form-actions form-actions-old clearfix">
    [% IF navigation_links_start && process.step == 0 %]
    <a href="[% navigation_links_start %]" class="button-secondary button left">Vorige</a>
    [% ELSIF process.previous_stap >= 0 || process.current_stap == 'verify' %]
    <input type="submit" name="submit_to_previous" value="Vorige" class="submit_to_previous button button-secondary left"/>
    [% ELSE %]
    <input type="hidden" name="externe_login" value="[% IF c.is_externe_aanvraag() %]1[% ELSE %]0[% END %]"/>
    <input type="submit" name="cancel" value="Annuleren" class="left cancel_webform[% UNLESS c.user_exists %] cancel_webform_burger[% END %] button button-secondary"/>
    [% END %]

        <a data-ng-href="/zaak/start_nieuwe_zaak/<[caseWebform.getApplicationPausedData().start_case.prefill.zaaktype.zaaktype_id]>/<[caseWebform.getApplicationPausedData().copy_attributes?'copy':'']>" class="submit_to_next button-primary button right" data-ng-show="caseWebform.isApplicationPaused()&&!caseWebform.isApplicationPausedWithoutResumal()">Verder</a>
        
        <button type="submit" name="submit_to_next" class="submit_to_next button button-primary right" data-ng-show="!caseWebform.isApplicationPaused()">
            [% process.next_stap ? 'Volgende' : 'Versturen' %]
        </button>
            
        
</div>

