[% nowrapper = 1 -%]
<!DOCTYPE html>
<head>
	<title>Foutmelding</title>
	<link rel="shortcut icon" href="/images/favicon.ico" />
	<link href="/css/base.css" type="text/css" rel="stylesheet" />
</head>
<html class="error gemeente_[% c.config.gemeente_id | lower %]">
<body>
	<div class="error-message">
		<div class="error-image">
		</div>
		<div class="error-text">
			<div class="error-title">
				Er is een fout opgetreden
			</div>
			<div class="error-subtext">
				Excuses voor het ongemak
			</div>
            [% IF error_message -%]
                <div class="id_wrong">[% error_message %]</div>
            [% ELSE -%]
            <div class="error-code">
                Supportcode: [% request_id %]
            </div>
            [% END -%]
		</div>

	</div>
</body>
</html>
