.dossier-inner-scroll-inner > div{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.ui-tabs .ui-tabs-panel.tab-inner-scroll{
    top: 187px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    overflow: auto;
}

.ui-tabs .ui-tabs-panel.taken-inner-scroll{
    overflow: hidden;
}

.block-inner-scroll-center{
    width:72%;
    position:absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}

.block-inner-scroll-east{
    width: 28%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #f5f5f5;
}