.timeline-filter{
    float: left;
    width: 172px;
    padding: 25px 0 0 10px;
    .search_wrap{
        margin-bottom: 12px;
    }
    h3{
        margin-bottom: 15px;
    }
    .timeline-options{
        margin-bottom: 15px;
    }

    .timeline-options li{
        list-style: none;
        line-height: 1.8;
    }

    .timeline-filter-input{
        float: none !important;
        margin-bottom: 15px;
    }

    .timeline-filter-checkbox{
        margin-right: 3px;
    }
}

.timeline-filter-title{
    margin-bottom:4px;
    display:block;
}

@media screen and (max-width: 940px) {

    .timeline{
        position: relative;
    }

    .timeline-content{
        padding-top:50px !important;
    }

    .timeline-filter{
        float:none;
        width:90%;
        position: absolute;
        top:50px;
        left:20px;
        z-index:1;
        .timeline-options{
        vertical-align: middle;
        display: inline-block;
        margin:0;
            li{
                display: inline-block;
                float:left;
                margin:0 12px 0 0;
            }
        }
    }

    .timeline-filter-title{
        display: none;
        margin:0;
    }

}