<div
	class="suggestion-list-container"
	zs-keyboard-navigable-list
	highlightable-items="zsSuggestionList.getSuggestions()"
	key-input-delegate="zsSuggestionList.getKeyInputDelegate()"
	on-key-commit="zsSuggestionList.handleKeyCommit($item, $event)"
	on-key-highlight="zsSuggestionList.handleHighlight($item, $event)"
	>

	<div class="suggestion-list-empty ng-cloak" ng-show="!!zsSuggestionList.label">
		{{zsSuggestionList.label}}
	</div>

	<ul class="suggestion-list"
		>
		<li class="suggestion-list-item"
			ng-repeat="suggestion in zsSuggestionList.getSuggestions() track by suggestion.id"
			ng-class="{ 'suggestion-list-item-highlighted': zsSuggestionList.isHighlighted(suggestion) }"
			data-id="{{::suggestion.id}}"
			>
			<button
				class="suggestion"
				type="button" 
				ng-click="zsSuggestionList.handleSuggestionClick(suggestion)"
			>
				<div class="suggestion-label">
					<zs-icon icon-type="{{suggestion.iconClass}}" ng-show="!!suggestion.iconClass"></zs-icon>
					<span class="suggestion-text">{{suggestion.label}}</span>
				</div>
				<div class="suggestion-description" ng-show="suggestion.description">{{suggestion.description}}</div>
			</button>
		</li>
	</ul>
	
</div>
