@import '../../../shared/styles/_variables.scss';

object-detail-view {
	display: block;
	position: absolute;
	height: 100%;
	overflow-y: auto;
	width: 100%;

	.object-detail-view__body{
		padding-top: 65px;
		margin-left: auto;
		margin-right: auto;
		max-width: 925px;
	}

	.object-detail-view__button-container{
		width: 100%;
		padding: 15px;
		
		button{
			width: 100%;
			height: 50px;
		}
	}

	.object-detail-view__list {
		margin-top: 0;
		padding: 0px 20px 60px 20px;
	}

	.object-detail-view__item{
		font-size:1.067rem;
		margin-bottom: 30px;
	}

	.object-detail-view__label{
		color: #000;
		font-weight: 500;
		line-height: 1.7;
	}

	.object-detail-view__value{
		color: #000;
		white-space: normal;

		p, ol, ul, li {
			font-family: "Roboto", sans-serif !important;
			font-size:1.067rem !important;
			font-weight: normal !important;
			color: #000 !important;
			line-height: 24.0075px !important;
		}

		p {
			margin-top: 2px;
		}

		ol, ul{
			margin-bottom: 15px;
			padding-left: 30px;
		}

		ol li{
			list-style-type: decimal;
		}

		ul li{
			list-style-type: disc;
		}

		img{
			max-width: 100%;
			height: auto;
		}

		&.link{
			text-transform: lowercase;
		}
	}

	.object-detail-view__buttons{
		padding: 20px;
	}

	.object-detail-view__aanvraagbutton{
		width: 100%;
		background: #77b829;
		margin-bottom: 20px;
		height: 60px;
		align-items: center;
  		justify-content: center;
  		font-weight: 400;
  		text-transform: inherit;
		font-size: 1.1em;  		

  		&:hover{
  			background: #90e031;
  			color: #fff;
  		}
	}
}

.object-detail-view__header {
	position: fixed;
	width: 100%;
	padding: 10px;
	background-size: cover;
	background-position: center;
	z-index: 10;
	color: #fff;
	display: flex;	
	align-items: center;
	flex-flow: column;
	flex: 0 1 auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

	&.object-detail-view__header--modal{
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
		background: rgb(240,240,240);
		color: #000;
	}

	.object-detail-view__header-container {
		display: flex;
		position: relative;
		z-index: 1;
		width: 100%;
		flex-flow: row wrap;
		max-width: 925px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.object-detail-view__header-button {
		background: none;
		border: 0;
		font-size: 1.6em;
		width:36px;
		height:36px;
		line-height: 36px;
		border-radius:100%;
		display: flex;
		padding: 0 5px;
		margin-right: 5px;

		&:hover {
			background:rgba(255,255,255,.15);
		}

	}

	.object-detail-view__header-title {
		font-size: 18px;
		display: flex;
		align-items:center;
		word-wrap: initial;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-top: -2px;
	}

}

@media #{$large-only}{
	.object-detail-view__list{
		max-width:60rem;
	}
}

@media #{$medium-and-down}{
	.object-detail-view__header .object-detail-view__header-container {
		padding-left: 0px;
		padding-right: 0px;
	}
}
