@import "partials/dependencies";
@import "partials/graphic-icons";
@import "partials/font-awesome";
@import "partials/materialdesignicons";
@import "partials/fontastic";
@import "partials/icons-entypo";

a{
	.icon-font-awesome,
	.mdi{
		text-decoration: none;
		display: inline-block;
		&:hover{
			color:lighten($primary-color,15%);
		}
	}
}

.icon-green{color:$icon-green !important;}
.icon-red{color:$icon-red !important;}
.icon-blue{color:$icon-blue !important;}
.icon-light-blue{color:$icon-light-blue !important;}
.icon-purple{color:$icon-purple !important;}
.icon-orange{color:$icon-orange !important;}
.icon-black{color:black !important;}
.icon-grey{color:$icon-grey !important;}
.icon-yellow{color:$icon-yellow !important;}
.icon-dark-blue{color:$icon-dark-blue !important;}


// icons catalog

.icon-ztc-case:before{
	content: "\f212";
	color:$icon-green;
}

.icon-ztc-sjablonen:before{
	content: "\f24e";
	color:$icon-grey;
}

.icon-ztc-kenmerken:before{
	content: "\f38e";
	color:$icon-red;
}

.icon-ztc-notificatie:before{
	content: "\f236";
	color:$icon-yellow;
}

.icon-ztc-object:before{
	content: "\f2b9";
	color:$icon-light-blue;
}

.icon-ztc-folder:before{
	content: "\f27e";
	color:$icon-blue;
}


// icon status

.icon-status{
	font-size:1.4em;
}

.icon-status-open:before{
	content: "\f37c";
	color:$icon-blue;
}

.icon-status-new:before{
	 content: "\f3df";
	color:$icon-yellow;
}

.icon-status-resolved:before{
	content: "\f1c8";
	color:$icon-green;
}

.icon-status-stalled:before{
	content: "\f361";
	color:$icon-grey;
}

.icon-status-overdragen:before{
	content: "\f13a";
	color:$icon-light-blue;
}

.icon-status-deleted:before{
	content: "\f1e0";
	color:$icon-red;
}

.title-with-icon{
	.title-with-icon-icon,.title-with-icon-text{
		display: inline-block;
		 vertical-align: middle;
	}
}


// icon status outline

// .icon-status{
// 	font-size:1.4em;
// }

// .icon-status-open:before{
// 	content: "\f37b";
// 	color:$icon-blue;
// }

// .icon-status-new:before{
// 	content: "\f380";
// 	color:$icon-grey;
// }

// .icon-status-resolved:before{
// 	content: "\f1c7";
// 	color:$icon-green;
// }

// .icon-status-stalled:before{
// 	content: "\f360";
// 	color:$icon-yellow;
// }

// .icon-status-overdragen:before{
// 	content: "\f139";
// 	color:$icon-light-blue;
// }

// .icon-status-deleted:before{
// 	content: "\f1df";
// 	color:$icon-red;
// }