@import "partials/dependencies";
@import "partials/row-actions";

// basics
    
    table{
        width:100%;
        border-spacing: 0 !important; 
        border:none;
        font-size:1em; }
      
    th, td{
        border: none;
        text-align: left;
        padding:1em 0.7em;
        font-size:1em;
        color:#222;
        vertical-align: top; }
            
    th{ 
        font-weight: 600;
        border-bottom:1px solid #ccc;
        vertical-align: top; }

    td{ border-bottom:1px solid #ddd; }

    table.fixed-layout{ table-layout: fixed; }

    tr.dummy{ display: none; }

    .table-generic{margin-bottom:15px;}

    .table-closed{
        border:1px solid #ccc;
        td,th,.table-cell{
            padding:1em;
        }
        th{
            background-color:$background-color-table-header;
        }
        tr:last-child td,
        tr.lastrow td{
            border-bottom:none;
        }
    }

    .ezra_clickable_tr:hover{ cursor: pointer; }
        
    .td-label{vertical-align: top; }

    .select-row:hover td{
        background: #f7f7f7;
        cursor: pointer;
    }

    .table-form{
        > tbody,
        > thead{
            > tr{
                > td:first-child,
                > th:first-child{width:28%;}
            }
        }
        &.table-form-guidelines{
           > tbody,
           > thead{
               > tr{
                   > td:last-child,
                   > th:last-child{width:28%;}
               }
           } 
        }
    }

    .table-form-no-guidelines{
        > tbody > tr,
        > thead > tr{
            > td:nth-child(3),
            > th:nth-child(3){
                display: none;
            }
            > td:first-child,
            > th:first-child{
                width:20%;
            }
        }
    }

         
// cell layout

    .td10{width:10px !important;}
    .td15{width:15px !important;}
    .td20{width:20px !important;}
    .td30{width:30px !important;}
    .td36{width:36px !important;}
    .td40{width:40px !important;}
    .td50{width:50px !important;}    
    .td60{width:60px !important;}
    .td80{width:80px !important;}
    .td100{width:100px !important;}
    .td115{width:115px !important;}
    .td120{width:120px !important;}
    .td130{width:130px !important;}
    .td140{width:140px !important;}
    .td150{width:150px !important;}
    .td160{width:160px !important;}
    .td170{width:170px !important;}
    .td180{width:180px !important;}
    .td190{width:190px !important;}
    .td200{width:200px !important;}
    .td220{width:220px !important;}
    .td225{width:225px !important;}
    .td230{width:230px !important;}
    .td250{width:250px !important;}
    .td260{width:260px !important;}
    .td270{width:270px !important;}
    .td280{width:280px !important;}
    .td290{width:290px !important;}
    .td300{width:300px !important;}
    .td310{width:310px !important;}
    .td325{width:325px !important;}
    .td340{width:340px !important;}
    .td350{width:350px !important;}
    .td360{width:360px !important;}
    .td400{width:400px !important;}
    .td420{width:420px !important;}
    .td450{width:450px !important;}
    .td500{width:500px !important;}
   
// sortable rows

    .drag{
        vertical-align: middle;
    }
    
    .drag:hover{cursor: move;}

    .drag:after{
        background: url("/images/drag.png") repeat scroll 0 0 transparent;
        content:'';
        width:10px;
        height:19px;
        display: block
    }
 
// div table emulation 

    .table{
        display: table;
        width: 100%;
        @include box-sizing(border-box);
    }

    .table-fixed{
        table-layout: fixed;
    }

    .table-body, .table-header {
        display: table-row-group;
    }

    .table-row {
        display: table-row;
    }

    .table-cell {
        display: table-cell;
        vertical-align: middle;
    }

    .table-header .table-cell{
        font-weight: 600;
    }

    .table .row{
        padding: 1em 0;
        border-bottom: 1px solid #eee;
        position: relative;
    }

    .table-row.zs-sorting {
        background-color: #e9e9e9;
    }

    .table-row.zs-sorting > div {
        filter: alpha(opacity=0);
        opacity: 0;
    }