/* @group Acties */

.case-actions .inner{
    padding: 0;
}

.case-action{
    position: relative;
    padding: 12px 12px 12px 86px;
    display: block;
    text-decoration: none;
    a{
        text-decoration: none;
    }
    span{
        color: #888;
    }
    button[data-ng-show="action.tainted"]{
        font-size:1.4em;
        background-color:transparent;
        position:absolute;
        right:15px;
        top:50%;
        margin-top:-8px;
        @include opacity(.4);
        &:hover{
            cursor: pointer;
            @include opacity(1);
        }
    }
    &.case-action-tainted .case-action-info{
        padding-right:25px;
    }
}

.case-action-icon{
    position: absolute;
    left: 42px;
    top: 50%;
    width: 32px;
    height: 32px;
    margin-top:-16px;
    &:after{
        font-family: MaterialDesignIcons;
        font-size:2em;
        -webkit-font-smoothing:antialiased;
    }
}

.case-action-state{
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -8px;
}

.case-action-case .case-action-icon:after{
    content: "\f27e"; 
    color:$icon-blue;
}

.case-action-template .case-action-icon:after{
    content: "\f24e";
    color:$icon-grey;
}

.case-action-email .case-action-icon:after{
     content: "\f236";
     color:$icon-yellow;
}

.case-action-allocation .case-action-icon:after{
    content: "\f10b";
    color:$icon-red;
}

.case-action-object_mutation .case-action-icon:after{
    content: "\f2ba";
    color:$icon-light-blue;
}

.case-action-label{
    font-weight: 600;
    display: inline-block;
    margin-bottom: 3px;
}

/* @end */