.system-message-component {
    position: fixed;
    z-index: 4000;
    top: 25px;
    right: 25px;
    text-align: center;
    width: 100%;
    height: 10px;
}

.system-message-component button{
    border: none;
    background: none;
}

.system-message-component button.close {
    cursor: pointer;
    font-weight: normal;
    height: 16px;
    line-height: 1.1;
    position: absolute;
    right: 6px;
    text-align: center;
    top: 7px;
    width: 16px; 
    text-decoration: none;
    color: #444;
}

.system-message-current {
    display: inline-block;
    line-height: 1.3em;
    padding: 15px 35px 15px 20px;
    border: 1px solid #c9c441;
    border: 1px solid rgba(0,0,0,0.7);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    border-radius: 6px;
    //font-size: 13px;
    position: relative;
    margin: 0 5px 5px;
    max-width:300px;
    line-height: 1.5;
    text-align: left;
}

.system-message-info {
    background: #f9fccb;
    border-color: green;
    border-color: rgba(0,0,0,0.3);
}

.system-message-error {
    background: #fcc3c3;
    border-color: red;
    border-color: rgba(0,0,0,0.3);
}