.branding {
    text-indent: -9999px;
    width: 210px;
    height: $topbar-height;
    float: left;
    margin-left:5px;
}

.branding a{
    display: block;
    width: 210px;
    height: $topbar-height;
    background-position: 0px center;
    background-repeat: no-repeat;
}

.gemeente_bussum .branding a{
    background-image: url(/images/logos/logo-bussum-klein.png);
}

.gemeente_baarn .branding a{
    background-image: url(/images/logos/logo-baarn-klein.png);
}

.gemeente_debilt .branding a,
.gemeente_debilt_old .branding a{
    background-image:url(/images/logos/logo-debilt-klein.png);
}

.logo_tholen .branding a{
    background-image:url(/images/logos/logo-tholen.png);
}

.gemeente_tholen .branding a,
.gemeente_tholen-old .branding a{
    background-image:url(/images/logos/logo-tholen-klein.png);
}

.gemeente_ede .branding a{
    background-image:url(/images/logos/logo-ede.png);
}

.gemeente_vianen .branding a{ 
    background-image: url(/images/logos/logo-vianen.png); 
}

.gemeente_brandweer .branding a{
    background-image: url(/images/logos/logo-brandweer.png); 
}

.gemeente_mintlab .branding a{
    background-image: url(/images/logos/logo-mintlab.svg);
    width:100px;
    background-position:left center;
    margin-left:0px;
}

.gemeente_mintlab#login #topsection .branding a{
    width: 115px;
    margin: 0 auto;
}

.gemeente_groningenseaports .branding a{
    background-image: url(/images/logos/logo-seaports.png); 
}

.gemeente_wijkbijduurstede .branding a{
    background-image: url(/images/logos/logo-wijkbijduurstede.png);
}

.gemeente_epe .branding a{
    background-image: url(/images/logos/logo-epe.png);
}

.gemeente_desom .branding a{
    background-image: url(/images/logos/logo-desom.png);
}

.gemeente_voerendaal .branding a{
    background-image: url(/images/logos/logo-voerendaal.png);
}

.gemeente_roosendaal .branding a{
    background-image: url(/images/logos/logo-roosendaal.png);
}

.gemeente_oude-ijsselstreek .branding a{
    background-image: url(/images/logos/logo-oude-ijsselstreek.png);
    width:201px;
    background-position:left center;
}

.gemeente_bbz .branding a{
    background-image: url(/images/logos/logo-bbz.png);
}

.gemeente_diemen .branding a{
    background-image: url(/images/logos/logo-diemen.png);
}

.gemeente_uithoorn .branding a{
    background-image: url(/images/logos/logo-uithoorn.png);
}

.gemeente_ouder-amstel .branding a{
    background-image: url(/images/logos/logo-ouder-amstel.png);
}

.gemeente_lingewaard .branding a{
    background-image: url(/images/logos/logo-lingewaard.png);
}

.gemeente_solo .branding a{
    background-image: url(/images/logos/logo-solo.png);
}

.gemeente_werkplein .branding a{
    background-image: url(/images/logos/logo-werkplein.png);
}

.gemeente_lansingerland .branding a{
    background-image: url(/images/logos/logo-lansingerland.png);
}

.gemeente_schouwen-duiveland .branding a{
    background-image: url(/images/logos/logo-schouwen-duiveland.png);
    background-position: center;
    background-size:cover;
    height:15px !important;
    max-width:180px;
    margin:14px 0 0 13px;
}

#login.gemeente_schouwen-duiveland #topsection .branding a{
    margin:35px auto 0;
}
