.instance-status-pending{
	.instance-status-icon{
		width:16px;
		height:16px;
		@include border-radius(0);
		margin:0;
		background:url(/images/ajax-loader.gif);
	}
	.instance-status-label{
		display: none;
	}
}

.instance-status-icon{
	width:7px;
	height:7px;
	margin-right:3px;
	display: inline-block;
	@include border-radius(7px);
}

.instance-status-active{
	.instance-status-icon{
		background:#95ec00;
	}
}

.instance-status-inactive{
	.instance-status-icon{
		background:#e68f02;
	}
}

.instance-status-deleted{
	.instance-status-icon{
		background:red;
	}
}

.instance-url-field{
	width:200px !important;
	display: inline-block;
}

.instances-add-customer-domain{
	display: inline-block;
}

form[name="access"]{
	width:auto !important;
}

.instance-access{
	min-width:600px;
}

.instance-access-form{
	padding:5px 0 15px;
	> div{
		display: inline-block;
		input[type=text]{
			width:214px !important;
		}
	}
}

.instance-access-add-entry{
	padding:5px 0 15px;
}

.instance-access-crud{
	margin-bottom:15px;
	.crud-pagination{
		display: none;
	}
	.no-results{
		font-size:1.1em;
	}
	.crud-table-column-header-remove{
		text-indent: -9999px;
	}
	.crud-table-value-cell-remove{
		button{
			background: none;
			float:right;
			margin-right:10px;
		}
	}
}