.dashboard{
	background:darken($background-color,8%);
	.dashboard-inner{
		padding:25px;
		.block{
			margin-bottom:30px;
			background:#fff;
			//@include box-shadow(0 2px 4px rgba(0,0,0,0.15));
			border:1px solid desaturate(darken($background-color-border,5%),3%);
			padding-bottom:25px;
			@include border-radius(3px);
			.block-header{
				padding:20px 0;
			}
		}
		.block-content{
			background-color: #fff;
			@include border-radius(0 0 3px 3px);
		}
		.block-zaken{
			padding:0;
			.block-header{
				padding:20px;
			}
			.results,.pagination-wrap,.no-results{
				border:none;
			}
			.no-results{
				border-top:1px solid #ccc;
			}
		}
	}
}