// stappen titel

    $h2-stap-titel-fontsize:1.3em !default;
    $h2-stap-titel-weight:600 !default;

    .stap-tekst{
        clear:both;
        margin:0;
        padding: 0 0 .35em;
        border-top: none;
        position: relative;
        border-bottom: 2px solid #ddd;
        h3{
            font-size: 1.1em;
            margin:1.75em 0 1em;
        }
        .stap-beschrijving{
            line-height: 1.7;
            font-weight: normal;
            color: #222;
            margin:0 0 .8em;
            ul, ol{
                margin:.7em 0 1em;
                padding-left: 20px;
            }
            p{
                margin:.7em 0 1em;
            }
        }
        &.stap-tekst-enkel{
            padding: 0 !important;
        }
    }

    .stap-titel, .stap-beschrijving{
        padding:0;
    }

    .stap-titel{
        margin-bottom:10px;
        font-size:$h2-stap-titel-fontsize;
        font-weight: $h2-stap-titel-weight;
    }
    
    .stap-tekst-no-border{
        border: none;
    }

    .stap-content-multiple{
        margin-bottom: 1em;
    }


// stappen navigatie
    
    .form-navigation{
        list-style: none;
        display: block;
        padding: 0px;
        border: 1px solid #ccc;
        border-bottom: none;
        background: #eeeeee;
        max-width: 100%;
        width: 100%;
        display: table;
        margin: 0 0 1.5em;
        li{
            display: table-cell;
            padding: 10px 15px 10px 30px;
            text-align: center;
            vertical-align: middle;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            a{
                text-decoration: none;
            }
        }
        .stap{
            background: $background-color;
            background-repeat: no-repeat;
            background-position: -15px center;
            position: relative;
            border-bottom: 3px solid $background-color-border;
            @include transition-property(color, border-color);
            @include transition-duration(0.25s);
            @include transition-timing-function(ease);
            &:after,
            &:before {
                left: 0%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                z-index:1;
            }
            &:after {
                border-color: rgba(233, 242, 244, 0);
                    border-left-color: #e9f2f4;
                border-width: 20px;
                margin-top: -20px;
            }
            &:before {
                border-color: rgba(143, 173, 182, 0);
                border-left-color: #8FADB6;
                border-width: 21px;
                margin-top: -21px;
            }
            a{
                color: #666;
                &:hover{
                    cursor: default;
                }
            }
            &.done{
                &:after{
                    border-color: rgba(233, 242, 244, 0);
                    border-left-color: #e9f2f4;
                }
            }
            &.done a{
                text-decoration: underline;
                &:hover{
                    cursor: pointer;
                }
            }
            &.done a, &.active a{
                color: #000;
                font-weight: bold;
            }
            &.active{
                color:#000;
                background:darken($background-color,6%);
                border-bottom-color: $button-primary-bg-color;
                font-weight: bold;
                a{
                    font-weight: bold;
                }
                &:after{
                    border-color: rgba(233, 242, 244, 0);
                    border-left-color: #e9f2f4;
                }
            }
            &.next-to-active{
                &:after {
                    border-color: rgba(233, 242, 244, 0);
                    border-left-color: #d5e5ea;
                }
            }
            &.first{ 
                padding-left:15px; 
                &:before,&:after{
                    display: none;
                }
            }
            &.stap-disabled {
                color: #ddd;
                border-color: #e6e6e6;
                text-decoration: line-through;
                display: none;
            }
        }
    }
    
    .form-navigation-disabled li{
        color: #999;
    }