/* http://materialdesignicons.com/ */

@font-face {
    font-family: MaterialDesignIcons;
    src: url(/fonts/material/MaterialDesignIcons.eot);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: MaterialDesignIcons;
    src: url(/fonts/material/MaterialDesignIcons.eot);
    src: url(/fonts/material/MaterialDesignIcons.eot?#iefix) format("embedded-opentype"),url(/fonts/material/MaterialDesignIcons.woff) format("woff"),url(/fonts/material/MaterialDesignIcons.ttf) format("truetype"),url(/fonts/material/MaterialDesignIcons.svg?#MaterialDesignIcons) format("svg");
    font-weight: 400;
    font-style: normal;
}

.mdi {
    font-family: MaterialDesignIcons;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:1.6em;
}

.mdi-account-alert:before { content: "\f101" }

.mdi-account-box-outline:before { content: "\f102" }

.mdi-account-box:before { content: "\f103" }

.mdi-account-check:before { content: "\f104" }

.mdi-account-circle:before { content: "\f105" }

.mdi-account-key:before { content: "\f106" }

.mdi-account-location:before { content: "\f107" }

.mdi-account-minus:before { content: "\f108" }

.mdi-account-multiple-outline:before { content: "\f109" }

.mdi-account-multiple-plus:before { content: "\f10a" }

.mdi-account-multiple:before { content: "\f10b" }

.mdi-account-network:before { content: "\f10c" }

.mdi-account-outline:before { content: "\f10d" }

.mdi-account-plus:before { content: "\f10e" }

.mdi-account-remove:before { content: "\f10f" }

.mdi-account-search:before { content: "\f110" }

.mdi-account-star-variant:before { content: "\f111" }

.mdi-account-star:before { content: "\f112" }

.mdi-account-switch:before { content: "\f113" }

.mdi-account:before { content: "\f114" }

.mdi-airballoon:before { content: "\f115" }

.mdi-airplane-off:before { content: "\f116" }

.mdi-airplane:before { content: "\f117" }

.mdi-alarm-check:before { content: "\f118" }

.mdi-alarm-multiple:before { content: "\f119" }

.mdi-alarm-off:before { content: "\f11a" }

.mdi-alarm-plus:before { content: "\f11b" }

.mdi-alarm:before { content: "\f11c" }

.mdi-album:before { content: "\f11d" }

.mdi-alert-box:before { content: "\f11e" }

.mdi-alert-circle:before { content: "\f11f" }

.mdi-alert-octagon:before { content: "\f120" }

.mdi-alert:before { content: "\f121" }

.mdi-alphabetical:before { content: "\f122" }

.mdi-amazon:before { content: "\f123" }

.mdi-ambulance:before { content: "\f124" }

.mdi-android-debug-bridge:before { content: "\f125" }

.mdi-android:before { content: "\f126" }

.mdi-apple-mobileme:before { content: "\f127" }

.mdi-apple:before { content: "\f128" }

.mdi-appnet:before { content: "\f129" }

.mdi-apps:before { content: "\f12a" }

.mdi-arrange-bring-forward:before { content: "\f12b" }

.mdi-arrange-bring-to-front:before { content: "\f12c" }

.mdi-arrange-send-backward:before { content: "\f12d" }

.mdi-arrange-send-to-back:before { content: "\f12e" }

.mdi-arrow-collapse:before { content: "\f12f" }

.mdi-arrow-down-bold-circle-outline:before { content: "\f130" }

.mdi-arrow-down-bold-circle:before { content: "\f131" }

.mdi-arrow-down-bold-hexagon-outline:before { content: "\f132" }

.mdi-arrow-down:before { content: "\f133" }

.mdi-arrow-expand:before { content: "\f134" }

.mdi-arrow-left-bold-circle-outline:before { content: "\f135" }

.mdi-arrow-left-bold-circle:before { content: "\f136" }

.mdi-arrow-left-bold-hexagon-outline:before { content: "\f137" }

.mdi-arrow-left:before { content: "\f138" }

.mdi-arrow-right-bold-circle-outline:before { content: "\f139" }

.mdi-arrow-right-bold-circle:before { content: "\f13a" }

.mdi-arrow-right-bold-hexagon-outline:before { content: "\f13b" }

.mdi-arrow-right:before { content: "\f13c" }

.mdi-arrow-up-bold-circle-outline:before { content: "\f13d" }

.mdi-arrow-up-bold-circle:before { content: "\f13e" }

.mdi-arrow-up-bold-hexagon-outline:before { content: "\f13f" }

.mdi-arrow-up:before { content: "\f140" }

.mdi-attachment:before { content: "\f141" }

.mdi-auto-fix:before { content: "\f142" }

.mdi-auto-upload:before { content: "\f143" }

.mdi-backup-restore:before { content: "\f144" }

.mdi-bank:before { content: "\f145" }

.mdi-barcode:before { content: "\f146" }

.mdi-basecamp:before { content: "\f147" }

.mdi-basket-fill:before { content: "\f148" }

.mdi-basket-unfill:before { content: "\f149" }

.mdi-basket:before { content: "\f14a" }

.mdi-battery-20:before { content: "\f14b" }

.mdi-battery-30:before { content: "\f14c" }

.mdi-battery-40:before { content: "\f14d" }

.mdi-battery-60:before { content: "\f14e" }

.mdi-battery-80:before { content: "\f14f" }

.mdi-battery-90:before { content: "\f150" }

.mdi-battery-alert:before { content: "\f151" }

.mdi-battery-charging-100:before { content: "\f152" }

.mdi-battery-charging-20:before { content: "\f153" }

.mdi-battery-charging-30:before { content: "\f154" }

.mdi-battery-charging-40:before { content: "\f155" }

.mdi-battery-charging-60:before { content: "\f156" }

.mdi-battery-charging-80:before { content: "\f157" }

.mdi-battery-charging-90:before { content: "\f158" }

.mdi-battery-minus:before { content: "\f159" }

.mdi-battery-negative:before { content: "\f15a" }

.mdi-battery-outline:before { content: "\f15b" }

.mdi-battery-plus:before { content: "\f15c" }

.mdi-battery-positive:before { content: "\f15d" }

.mdi-battery-unknown:before { content: "\f15e" }

.mdi-battery:before { content: "\f15f" }

.mdi-beaker-empty-outline:before { content: "\f160" }

.mdi-beaker-empty:before { content: "\f161" }

.mdi-beaker-outline:before { content: "\f162" }

.mdi-beaker:before { content: "\f163" }

.mdi-beats:before { content: "\f164" }

.mdi-behance:before { content: "\f165" }

.mdi-bell-off:before { content: "\f166" }

.mdi-bell-outline:before { content: "\f167" }

.mdi-bell-ring-outline:before { content: "\f168" }

.mdi-bell-ring:before { content: "\f169" }

.mdi-bell-sleep:before { content: "\f16a" }

.mdi-bell:before { content: "\f16b" }

.mdi-bike:before { content: "\f16c" }

.mdi-bing:before { content: "\f16d" }

.mdi-bio:before { content: "\f16e" }

.mdi-blackberry:before { content: "\f16f" }

.mdi-blinds:before { content: "\f170" }

.mdi-block-helper:before { content: "\f171" }

.mdi-blogger:before { content: "\f172" }

.mdi-bluetooth-audio:before { content: "\f173" }

.mdi-bluetooth-connect:before { content: "\f174" }

.mdi-bluetooth-settings:before { content: "\f175" }

.mdi-bluetooth:before { content: "\f176" }

.mdi-blur-linear:before { content: "\f177" }

.mdi-blur-off:before { content: "\f178" }

.mdi-blur-radial:before { content: "\f179" }

.mdi-blur:before { content: "\f17a" }

.mdi-book-multiple-variant:before { content: "\f17b" }

.mdi-book-multiple:before { content: "\f17c" }

.mdi-book-variant:before { content: "\f17d" }

.mdi-book:before { content: "\f17e" }

.mdi-bookmark-outline:before { content: "\f17f" }

.mdi-bookmark:before { content: "\f180" }

.mdi-border-all:before { content: "\f181" }

.mdi-border-bottom:before { content: "\f182" }

.mdi-border-color:before { content: "\f183" }

.mdi-border-horizontal:before { content: "\f184" }

.mdi-border-inside:before { content: "\f185" }

.mdi-border-left:before { content: "\f186" }

.mdi-border-none:before { content: "\f187" }

.mdi-border-outside:before { content: "\f188" }

.mdi-border-right:before { content: "\f189" }

.mdi-border-top:before { content: "\f18a" }

.mdi-border-vertical:before { content: "\f18b" }

.mdi-bowling:before { content: "\f18c" }

.mdi-briefcase-check:before { content: "\f18d" }

.mdi-briefcase-download:before { content: "\f18e" }

.mdi-briefcase-upload:before { content: "\f18f" }

.mdi-briefcase:before { content: "\f190" }

.mdi-brightness-1:before { content: "\f191" }

.mdi-brightness-2:before { content: "\f192" }

.mdi-brightness-3:before { content: "\f193" }

.mdi-brightness-4:before { content: "\f194" }

.mdi-brightness-5:before { content: "\f195" }

.mdi-brightness-6:before { content: "\f196" }

.mdi-brightness-7:before { content: "\f197" }

.mdi-brightness-auto:before { content: "\f198" }

.mdi-broom:before { content: "\f199" }

.mdi-brush:before { content: "\f19a" }

.mdi-bug:before { content: "\f19b" }

.mdi-bus:before { content: "\f19c" }

.mdi-cake-variant:before { content: "\f19d" }

.mdi-cake:before { content: "\f19e" }

.mdi-calculator:before { content: "\f19f" }

.mdi-calendar-check:before { content: "\f1a0" }

.mdi-calendar-remove:before { content: "\f1a1" }

.mdi-calendar-text:before { content: "\f1a2" }

.mdi-calendar-today:before { content: "\f1a3" }

.mdi-calendar:before { content: "\f1a4" }

.mdi-camcorder-box-off:before { content: "\f1a5" }

.mdi-camcorder-box:before { content: "\f1a6" }

.mdi-camcorder-off:before { content: "\f1a7" }

.mdi-camcorder:before { content: "\f1a8" }

.mdi-camera-iris:before { content: "\f1a9" }

.mdi-camera-party-mode:before { content: "\f1aa" }

.mdi-camera-switch:before { content: "\f1ab" }

.mdi-camera-timer:before { content: "\f1ac" }

.mdi-camera:before { content: "\f1ad" }

.mdi-candycane:before { content: "\f1ae" }

.mdi-car-wash:before { content: "\f1af" }

.mdi-car:before { content: "\f1b0" }

.mdi-carrot:before { content: "\f1b1" }

.mdi-cart-outline:before { content: "\f1b2" }

.mdi-cart:before { content: "\f1b3" }

.mdi-cash:before { content: "\f1b4" }

.mdi-cast-connected:before { content: "\f1b5" }

.mdi-cast:before { content: "\f1b6" }

.mdi-cellphone-android:before { content: "\f1b7" }

.mdi-cellphone-dock:before { content: "\f1b8" }

.mdi-cellphone-iphone:before { content: "\f1b9" }

.mdi-cellphone-link-off:before { content: "\f1ba" }

.mdi-cellphone-link:before { content: "\f1bb" }

.mdi-cellphone-settings:before { content: "\f1bc" }

.mdi-cellphone:before { content: "\f1bd" }

.mdi-chart-bar:before { content: "\f1be" }

.mdi-chart-histogram:before { content: "\f1bf" }

.mdi-chart-line:before { content: "\f1c0" }

.mdi-check-all:before { content: "\f1c1" }

.mdi-check:before { content: "\f1c2" }

.mdi-checkbox-blank-circle-outline:before { content: "\f1c3" }

.mdi-checkbox-blank-circle:before { content: "\f1c4" }

.mdi-checkbox-blank-outline:before { content: "\f1c5" }

.mdi-checkbox-blank:before { content: "\f1c6" }

.mdi-checkbox-marked-circle-outline:before { content: "\f1c7" }

.mdi-checkbox-marked-circle:before { content: "\f1c8" }

.mdi-checkbox-marked-outline:before { content: "\f1c9" }

.mdi-checkbox-marked:before { content: "\f1ca" }

.mdi-checkbox-multiple-blank-outline:before { content: "\f1cb" }

.mdi-checkbox-multiple-blank:before { content: "\f1cc" }

.mdi-checkbox-multiple-marked-outline:before { content: "\f1cd" }

.mdi-checkbox-multiple-marked:before { content: "\f1ce" }

.mdi-chevron-down:before { content: "\f1cf" }

.mdi-chevron-left:before { content: "\f1d0" }

.mdi-chevron-right:before { content: "\f1d1" }

.mdi-chevron-up:before { content: "\f1d2" }

.mdi-city:before { content: "\f1d3" }

.mdi-clipboard-account:before { content: "\f1d4" }

.mdi-clipboard-alert:before { content: "\f1d5" }

.mdi-clipboard-arrow-down:before { content: "\f1d6" }

.mdi-clipboard-arrow-left:before { content: "\f1d7" }

.mdi-clipboard-check:before { content: "\f1d8" }

.mdi-clipboard-outline:before { content: "\f1d9" }

.mdi-clipboard-text:before { content: "\f1da" }

.mdi-clipboard:before { content: "\f1db" }

.mdi-clock:before { content: "\f1dc" }

.mdi-close-box-outline:before { content: "\f1dd" }

.mdi-close-box:before { content: "\f1de" }

.mdi-close-circle-outline:before { content: "\f1df" }

.mdi-close-circle:before { content: "\f1e0" }

.mdi-close-network:before { content: "\f1e1" }

.mdi-close:before { content: "\f1e2" }

.mdi-closed-caption:before { content: "\f1e3" }

.mdi-cloud-check:before { content: "\f1e4" }

.mdi-cloud-circle:before { content: "\f1e5" }

.mdi-cloud-download:before { content: "\f1e6" }

.mdi-cloud-outline-off:before { content: "\f1e7" }

.mdi-cloud-outline:before { content: "\f1e8" }

.mdi-cloud-upload:before { content: "\f1e9" }

.mdi-cloud:before { content: "\f1ea" }

.mdi-coffee-to-go:before { content: "\f1eb" }

.mdi-coffee:before { content: "\f1ec" }

.mdi-coin:before { content: "\f1ed" }

.mdi-color-helper:before { content: "\f1ee" }

.mdi-comment-account-outline:before { content: "\f1ef" }

.mdi-comment-account:before { content: "\f1f0" }

.mdi-comment-alert-outline:before { content: "\f1f1" }

.mdi-comment-alert:before { content: "\f1f2" }

.mdi-comment-check-outline:before { content: "\f1f3" }

.mdi-comment-check:before { content: "\f1f4" }

.mdi-comment-multipe-outline:before { content: "\f1f5" }

.mdi-comment-outline:before { content: "\f1f6" }

.mdi-comment-plus-outline:before { content: "\f1f7" }

.mdi-comment-processing-outline:before { content: "\f1f8" }

.mdi-comment-processing:before { content: "\f1f9" }

.mdi-comment-remove-outline:before { content: "\f1fa" }

.mdi-comment-text-outline:before { content: "\f1fb" }

.mdi-comment-text:before { content: "\f1fc" }

.mdi-comment:before { content: "\f1fd" }

.mdi-compare:before { content: "\f1fe" }

.mdi-compass-outline:before { content: "\f1ff" }

.mdi-compass:before { content: "\f200" }

.mdi-content-copy:before { content: "\f201" }

.mdi-content-cut:before { content: "\f202" }

.mdi-content-paste:before { content: "\f203" }

.mdi-content-save:before { content: "\f204" }

.mdi-contrast-box:before { content: "\f205" }

.mdi-contrast-circle:before { content: "\f206" }

.mdi-contrast:before { content: "\f207" }

.mdi-cow:before { content: "\f208" }

.mdi-credit-card:before { content: "\f209" }

.mdi-crop-free:before { content: "\f20a" }

.mdi-crop-landscape:before { content: "\f20b" }

.mdi-crop-portrait:before { content: "\f20c" }

.mdi-crop-square:before { content: "\f20d" }

.mdi-crop:before { content: "\f20e" }

.mdi-crosshairs-gps:before { content: "\f20f" }

.mdi-crosshairs:before { content: "\f210" }

.mdi-cube-outline:before { content: "\f211" }

.mdi-cube:before { content: "\f212" }

.mdi-cup-water:before { content: "\f213" }

.mdi-cup:before { content: "\f214" }

.mdi-currency-btc:before { content: "\f215" }

.mdi-currency-usd:before { content: "\f216" }

.mdi-cursor-default-outline:before { content: "\f217" }

.mdi-cursor-default:before { content: "\f218" }

.mdi-cursor-pointer:before { content: "\f219" }

.mdi-database-minus:before { content: "\f21a" }

.mdi-database-outline:before { content: "\f21b" }

.mdi-database-plus:before { content: "\f21c" }

.mdi-database:before { content: "\f21d" }

.mdi-debug-step-into:before { content: "\f21e" }

.mdi-debug-step-out:before { content: "\f21f" }

.mdi-debug-step-over:before { content: "\f220" }

.mdi-delete:before { content: "\f221" }

.mdi-desktop-mac:before { content: "\f222" }

.mdi-deviantart:before { content: "\f223" }

.mdi-dice:before { content: "\f224" }

.mdi-directions:before { content: "\f225" }

.mdi-disk-alert:before { content: "\f226" }

.mdi-disqus-outline:before { content: "\f227" }

.mdi-disqus:before { content: "\f228" }

.mdi-dots-horizontal:before { content: "\f229" }

.mdi-dots-vertical:before { content: "\f22a" }

.mdi-download:before { content: "\f22b" }

.mdi-drawing-box:before { content: "\f22c" }

.mdi-drawing:before { content: "\f22d" }

.mdi-dribbble-box:before { content: "\f22e" }

.mdi-dribbble:before { content: "\f22f" }

.mdi-duck:before { content: "\f230" }

.mdi-earth-off:before { content: "\f231" }

.mdi-earth:before { content: "\f232" }

.mdi-elevation-decline:before { content: "\f233" }

.mdi-elevation-rise:before { content: "\f234" }

.mdi-email-outline:before { content: "\f235" }

.mdi-email:before { content: "\f236" }

.mdi-emoticon-cool:before { content: "\f237" }

.mdi-emoticon-happy:before { content: "\f238" }

.mdi-emoticon-neutral:before { content: "\f239" }

.mdi-emoticon-poop:before { content: "\f23a" }

.mdi-emoticon-sad:before { content: "\f23b" }

.mdi-emoticon-tongue:before { content: "\f23c" }

.mdi-emoticon:before { content: "\f23d" }

.mdi-eraser:before { content: "\f23e" }

.mdi-etsy:before { content: "\f23f" }

.mdi-evernote:before { content: "\f240" }

.mdi-exit-to-app:before { content: "\f241" }

.mdi-eye-off:before { content: "\f242" }

.mdi-eye:before { content: "\f243" }

.mdi-eyedropper-variant:before { content: "\f244" }

.mdi-eyedropper:before { content: "\f245" }

.mdi-facebook-box:before { content: "\f246" }

.mdi-facebook:before { content: "\f247" }

.mdi-factory:before { content: "\f248" }

.mdi-fast-forward:before { content: "\f249" }

.mdi-ferry:before { content: "\f24a" }

.mdi-file-cloud:before { content: "\f24b" }

.mdi-file-delimited:before { content: "\f24c" }

.mdi-file-document-box:before { content: "\f24d" }

.mdi-file-document:before { content: "\f24e" }

.mdi-file-excel-box:before { content: "\f24f" }

.mdi-file-excel:before { content: "\f250" }

.mdi-file-find:before { content: "\f251" }

.mdi-file-image-box:before { content: "\f252" }

.mdi-file-image:before { content: "\f253" }

.mdi-file-music:before { content: "\f254" }

.mdi-file-pdf-box:before { content: "\f255" }

.mdi-file-pdf:before { content: "\f256" }

.mdi-file-powerpoint-box:before { content: "\f257" }

.mdi-file-powerpoint:before { content: "\f258" }

.mdi-file-presentation-box:before { content: "\f259" }

.mdi-file-video:before { content: "\f25a" }

.mdi-file-word-box:before { content: "\f25b" }

.mdi-file-word:before { content: "\f25c" }

.mdi-file:before { content: "\f25d" }

.mdi-film:before { content: "\f25e" }

.mdi-filmstrip-off:before { content: "\f25f" }

.mdi-filmstrip:before { content: "\f260" }

.mdi-filter-outline:before { content: "\f261" }

.mdi-filter-remove-outline:before { content: "\f262" }

.mdi-filter-remove:before { content: "\f263" }

.mdi-filter-variant:before { content: "\f264" }

.mdi-filter:before { content: "\f265" }

.mdi-fire:before { content: "\f266" }

.mdi-fish:before { content: "\f267" }

.mdi-flag-checkered:before { content: "\f268" }

.mdi-flag-outline-variant:before { content: "\f269" }

.mdi-flag-outline:before { content: "\f26a" }

.mdi-flag-variant:before { content: "\f26b" }

.mdi-flag:before { content: "\f26c" }

.mdi-flash-auto:before { content: "\f26d" }

.mdi-flash-off:before { content: "\f26e" }

.mdi-flash:before { content: "\f26f" }

.mdi-flip-to-back:before { content: "\f270" }

.mdi-flip-to-front:before { content: "\f271" }

.mdi-floppy:before { content: "\f272" }

.mdi-flower:before { content: "\f273" }

.mdi-folder-account:before { content: "\f274" }

.mdi-folder-google-drive:before { content: "\f275" }

.mdi-folder-image:before { content: "\f276" }

.mdi-folder-move:before { content: "\f277" }

.mdi-folder-multiple-image:before { content: "\f278" }

.mdi-folder-multiple-outline:before { content: "\f279" }

.mdi-folder-multiple:before { content: "\f27a" }

.mdi-folder-outline:before { content: "\f27b" }

.mdi-folder-plus:before { content: "\f27c" }

.mdi-folder-remove:before { content: "\f27d" }

.mdi-folder:before { content: "\f27e" }

.mdi-food-apple:before { content: "\f27f" }

.mdi-food:before { content: "\f280" }

.mdi-format-align-center:before { content: "\f281" }

.mdi-format-align-justify:before { content: "\f282" }

.mdi-format-align-left:before { content: "\f283" }

.mdi-format-align-right:before { content: "\f284" }

.mdi-format-bold:before { content: "\f285" }

.mdi-format-clear:before { content: "\f286" }

.mdi-format-color-fill:before { content: "\f287" }

.mdi-format-line-spacing:before { content: "\f288" }

.mdi-format-list-numbers:before { content: "\f289" }

.mdi-format-paint:before { content: "\f28a" }

.mdi-format-strikethrough:before { content: "\f28b" }

.mdi-format-subscript:before { content: "\f28c" }

.mdi-format-superscript:before { content: "\f28d" }

.mdi-format-underline:before { content: "\f28e" }

.mdi-foursquare:before { content: "\f28f" }

.mdi-fullscreen-exit:before { content: "\f290" }

.mdi-fullscreen:before { content: "\f291" }

.mdi-gamepad-variant:before { content: "\f292" }

.mdi-gamepad:before { content: "\f293" }

.mdi-gas-station:before { content: "\f294" }

.mdi-gavel:before { content: "\f295" }

.mdi-gender-female:before { content: "\f296" }

.mdi-gender-male:before { content: "\f297" }

.mdi-gender-transgender:before { content: "\f298" }

.mdi-gift:before { content: "\f299" }

.mdi-github-box:before { content: "\f29a" }

.mdi-github-circle:before { content: "\f29b" }

.mdi-gmail:before { content: "\f29c" }

.mdi-google-chrome:before { content: "\f29d" }

.mdi-google-circles-communities:before { content: "\f29e" }

.mdi-google-circles-extended:before { content: "\f29f" }

.mdi-google-circles:before { content: "\f2a0" }

.mdi-google-drive:before { content: "\f2a1" }

.mdi-google-earth:before { content: "\f2a2" }

.mdi-google-glass:before { content: "\f2a3" }

.mdi-google-maps:before { content: "\f2a4" }

.mdi-google-pages:before { content: "\f2a5" }

.mdi-google-play:before { content: "\f2a6" }

.mdi-google-plus-box:before { content: "\f2a7" }

.mdi-google-plus:before { content: "\f2a8" }

.mdi-google:before { content: "\f2a9" }

.mdi-guitar-pick-outline:before { content: "\f2aa" }

.mdi-guitar-pick:before { content: "\f2ab" }

.mdi-hand-pointing-right:before { content: "\f2ac" }

.mdi-hanger:before { content: "\f2ad" }

.mdi-hangouts:before { content: "\f2ae" }

.mdi-harddisk:before { content: "\f2af" }

.mdi-headphones-box:before { content: "\f2b0" }

.mdi-headphones:before { content: "\f2b1" }

.mdi-headset:before { content: "\f2b2" }

.mdi-heart-box-outline:before { content: "\f2b3" }

.mdi-heart-box:before { content: "\f2b4" }

.mdi-heart-outline:before { content: "\f2b5" }

.mdi-heart:before { content: "\f2b6" }

.mdi-help-circle:before { content: "\f2b7" }

.mdi-help:before { content: "\f2b8" }

.mdi-hexagon-outline:before { content: "\f2b9" }

.mdi-hexagon:before { content: "\f2ba" }

.mdi-history:before { content: "\f2bb" }

.mdi-home-modern:before { content: "\f2bc" }

.mdi-home-variant:before { content: "\f2bd" }

.mdi-home:before { content: "\f2be" }

.mdi-hospital-building:before { content: "\f2bf" }

.mdi-hospital-marker:before { content: "\f2c0" }

.mdi-hospital:before { content: "\f2c1" }

.mdi-hotel:before { content: "\f2c2" }

.mdi-houzz-box:before { content: "\f2c3" }

.mdi-houzz:before { content: "\f2c4" }

.mdi-human-child:before { content: "\f2c5" }

.mdi-human-male-female:before { content: "\f2c6" }

.mdi-human:before { content: "\f2c7" }

.mdi-image-album:before { content: "\f2c8" }

.mdi-image-area-close:before { content: "\f2c9" }

.mdi-image-area:before { content: "\f2ca" }

.mdi-image-filter-black-white:before { content: "\f2cb" }

.mdi-image-filter-center-focus:before { content: "\f2cc" }

.mdi-image-filter-drama:before { content: "\f2cd" }

.mdi-image-filter-frames:before { content: "\f2ce" }

.mdi-image-filter-hdr:before { content: "\f2cf" }

.mdi-image-filter-none:before { content: "\f2d0" }

.mdi-image-filter-tilt-shift:before { content: "\f2d1" }

.mdi-image-filter-vintage:before { content: "\f2d2" }

.mdi-image-filter:before { content: "\f2d3" }

.mdi-information-outline:before { content: "\f2d4" }

.mdi-information:before { content: "\f2d5" }

.mdi-instagram:before { content: "\f2d6" }

.mdi-instapaper:before { content: "\f2d7" }

.mdi-internet-explorer:before { content: "\f2d8" }

.mdi-invert-colors:before { content: "\f2d9" }

.mdi-key-change:before { content: "\f2da" }

.mdi-key-minus:before { content: "\f2db" }

.mdi-key-plus:before { content: "\f2dc" }

.mdi-key-remove:before { content: "\f2dd" }

.mdi-key-variant:before { content: "\f2de" }

.mdi-key:before { content: "\f2df" }

.mdi-keyboard-backspace:before { content: "\f2e0" }

.mdi-keyboard-caps:before { content: "\f2e1" }

.mdi-keyboard-close:before { content: "\f2e2" }

.mdi-keyboard-return:before { content: "\f2e3" }

.mdi-keyboard-tab:before { content: "\f2e4" }

.mdi-keyboard:before { content: "\f2e5" }

.mdi-label-outline:before { content: "\f2e6" }

.mdi-label:before { content: "\f2e7" }

.mdi-laptop-chromebook:before { content: "\f2e8" }

.mdi-laptop-mac:before { content: "\f2e9" }

.mdi-laptop-windows:before { content: "\f2ea" }

.mdi-laptop:before { content: "\f2eb" }

.mdi-lastfm:before { content: "\f2ec" }

.mdi-launch:before { content: "\f2ed" }

.mdi-leaf:before { content: "\f2ee" }

.mdi-library-books:before { content: "\f2ef" }

.mdi-library-music:before { content: "\f2f0" }

.mdi-library-plus:before { content: "\f2f1" }

.mdi-library:before { content: "\f2f2" }

.mdi-lightbulb:before { content: "\f2f3" }

.mdi-link:before { content: "\f2f4" }

.mdi-linkedin:before { content: "\f2f5" }

.mdi-linux:before { content: "\f2f6" }

.mdi-lock-open-outline:before { content: "\f2f7" }

.mdi-lock-open:before { content: "\f2f8" }

.mdi-lock-outline:before { content: "\f2f9" }

.mdi-lock:before { content: "\f2fa" }

.mdi-login:before { content: "\f2fb" }

.mdi-logout:before { content: "\f2fc" }

.mdi-looks:before { content: "\f2fd" }

.mdi-loupe:before { content: "\f2fe" }

.mdi-magnify-minus:before { content: "\f2ff" }

.mdi-magnify-plus:before { content: "\f300" }

.mdi-magnify:before { content: "\f301" }

.mdi-map-marker-circle:before { content: "\f302" }

.mdi-map-marker-off:before { content: "\f303" }

.mdi-map-marker-radius:before { content: "\f304" }

.mdi-map-marker:before { content: "\f305" }

.mdi-map:before { content: "\f306" }

.mdi-marker-check:before { content: "\f307" }

.mdi-martini:before { content: "\f308" }

.mdi-math-compass:before { content: "\f309" }

.mdi-memory:before { content: "\f30a" }

.mdi-menu-down:before { content: "\f30b" }

.mdi-menu-up:before { content: "\f30c" }

.mdi-menu:before { content: "\f30d" }

.mdi-message-alert:before { content: "\f30e" }

.mdi-message-draw:before { content: "\f30f" }

.mdi-message-image:before { content: "\f310" }

.mdi-message-processing:before { content: "\f311" }

.mdi-message-reply:before { content: "\f312" }

.mdi-message-video:before { content: "\f313" }

.mdi-microphone-dots:before { content: "\f314" }

.mdi-microphone-off:before { content: "\f315" }

.mdi-microphone-outline:before { content: "\f316" }

.mdi-microphone-settings:before { content: "\f317" }

.mdi-microphone:before { content: "\f318" }

.mdi-minus-box:before { content: "\f319" }

.mdi-minus-circle-outline:before { content: "\f31a" }

.mdi-minus-circle:before { content: "\f31b" }

.mdi-minus-network:before { content: "\f31c" }

.mdi-minus:before { content: "\f31d" }

.mdi-monitor:before { content: "\f31e" }

.mdi-more:before { content: "\f31f" }

.mdi-mouse:before { content: "\f320" }

.mdi-movie:before { content: "\f321" }

.mdi-music-box-outline:before { content: "\f322" }

.mdi-music-box:before { content: "\f323" }

.mdi-nature-people:before { content: "\f324" }

.mdi-nature:before { content: "\f325" }

.mdi-navigation:before { content: "\f326" }

.mdi-needle:before { content: "\f327" }

.mdi-nest-protect:before { content: "\f328" }

.mdi-nest-thermostat:before { content: "\f329" }

.mdi-newspaper:before { content: "\f32a" }

.mdi-nfc-variant:before { content: "\f32b" }

.mdi-nfc:before { content: "\f32c" }

.mdi-numeric-0-box-multiple-outline:before { content: "\f32d" }

.mdi-numeric-0-box-outline:before { content: "\f32e" }

.mdi-numeric-0-box:before { content: "\f32f" }

.mdi-numeric-1-box-multiple-outline:before { content: "\f330" }

.mdi-numeric-1-box-outline:before { content: "\f331" }

.mdi-numeric-1-box:before { content: "\f332" }

.mdi-numeric-2-box-multiple-outline:before { content: "\f333" }

.mdi-numeric-2-box-outline:before { content: "\f334" }

.mdi-numeric-2-box:before { content: "\f335" }

.mdi-numeric-3-box-multiple-outline:before { content: "\f336" }

.mdi-numeric-3-box-outline:before { content: "\f337" }

.mdi-numeric-3-box:before { content: "\f338" }

.mdi-numeric-4-box-multiple-outline:before { content: "\f339" }

.mdi-numeric-4-box-outline:before { content: "\f33a" }

.mdi-numeric-4-box:before { content: "\f33b" }

.mdi-numeric-5-box-multiple-outline:before { content: "\f33c" }

.mdi-numeric-5-box-outline:before { content: "\f33d" }

.mdi-numeric-5-box:before { content: "\f33e" }

.mdi-numeric-6-box-multiple-outline:before { content: "\f33f" }

.mdi-numeric-6-box-outline:before { content: "\f340" }

.mdi-numeric-6-box:before { content: "\f341" }

.mdi-numeric-7-box-multiple-outline:before { content: "\f342" }

.mdi-numeric-7-box-outline:before { content: "\f343" }

.mdi-numeric-7-box:before { content: "\f344" }

.mdi-numeric-8-box-multiple-outline:before { content: "\f345" }

.mdi-numeric-8-box-outline:before { content: "\f346" }

.mdi-numeric-8-box:before { content: "\f347" }

.mdi-numeric-9-box-multiple-outline:before { content: "\f348" }

.mdi-numeric-9-box-outline:before { content: "\f349" }

.mdi-numeric-9-box:before { content: "\f34a" }

.mdi-numeric-9-plus-box-multiple-outline:before { content: "\f34b" }

.mdi-numeric-9-plus-box-outline:before { content: "\f34c" }

.mdi-numeric-9-plus-box:before { content: "\f34d" }

.mdi-numeric:before { content: "\f34e" }

.mdi-oil:before { content: "\f34f" }

.mdi-open-in-app:before { content: "\f350" }

.mdi-ornament-variant:before { content: "\f351" }

.mdi-ornament:before { content: "\f352" }

.mdi-package-down:before { content: "\f353" }

.mdi-package-up:before { content: "\f354" }

.mdi-package:before { content: "\f355" }

.mdi-palette:before { content: "\f356" }

.mdi-pandora:before { content: "\f357" }

.mdi-panorama-fisheye:before { content: "\f358" }

.mdi-panorama-horizontal:before { content: "\f359" }

.mdi-panorama-vertical:before { content: "\f35a" }

.mdi-panorama-wide-angle:before { content: "\f35b" }

.mdi-panorama:before { content: "\f35c" }

.mdi-paper-cut-vertical:before { content: "\f35d" }

.mdi-paperclip:before { content: "\f35e" }

.mdi-parking:before { content: "\f35f" }

.mdi-pause-circle-outline:before { content: "\f360" }

.mdi-pause-circle:before { content: "\f361" }

.mdi-pause-octagon-outline:before { content: "\f362" }

.mdi-pause-octagon:before { content: "\f363" }

.mdi-pause:before { content: "\f364" }

.mdi-pencil-box-outline:before { content: "\f365" }

.mdi-pencil-box:before { content: "\f366" }

.mdi-pencil:before { content: "\f367" }

.mdi-pharmacy:before { content: "\f368" }

.mdi-phone-bluetooth:before { content: "\f369" }

.mdi-phone-forward:before { content: "\f36a" }

.mdi-phone-hangup:before { content: "\f36b" }

.mdi-phone-in-talk:before { content: "\f36c" }

.mdi-phone-locked:before { content: "\f36d" }

.mdi-phone-missed:before { content: "\f36e" }

.mdi-phone-paused:before { content: "\f36f" }

.mdi-phone-settings:before { content: "\f370" }

.mdi-phone:before { content: "\f371" }

.mdi-pig:before { content: "\f372" }

.mdi-pill:before { content: "\f373" }

.mdi-pin-off:before { content: "\f374" }

.mdi-pin:before { content: "\f375" }

.mdi-pine-tree-box:before { content: "\f376" }

.mdi-pine-tree:before { content: "\f377" }

.mdi-pinterest:before { content: "\f378" }

.mdi-pizza:before { content: "\f379" }

.mdi-play-box-outline:before { content: "\f37a" }

.mdi-play-circle-outline:before { content: "\f37b" }

.mdi-play-circle:before { content: "\f37c" }

.mdi-play:before { content: "\f37d" }

.mdi-playlist-plus:before { content: "\f37e" }

.mdi-plus-box:before { content: "\f37f" }

.mdi-plus-circle-outline:before { content: "\f380" }

.mdi-plus-circle:before { content: "\f381" }

.mdi-plus-network:before { content: "\f382" }

.mdi-plus-one:before { content: "\f383" }

.mdi-plus:before { content: "\f384" }

.mdi-pocket:before { content: "\f385" }

.mdi-poll-box:before { content: "\f386" }

.mdi-poll:before { content: "\f387" }

.mdi-polymer:before { content: "\f388" }

.mdi-popcorn:before { content: "\f389" }

.mdi-power-settings:before { content: "\f38a" }

.mdi-power:before { content: "\f38b" }

.mdi-presentation:before { content: "\f38c" }

.mdi-printer:before { content: "\f38d" }

.mdi-puzzle:before { content: "\f38e" }

.mdi-qrcode:before { content: "\f38f" }

.mdi-quality-high:before { content: "\f390" }

.mdi-radiator:before { content: "\f391" }

.mdi-radiobox-blank:before { content: "\f392" }

.mdi-radiobox-marked:before { content: "\f393" }

.mdi-rdio:before { content: "\f394" }

.mdi-readability:before { content: "\f395" }

.mdi-receipt:before { content: "\f396" }

.mdi-recycle:before { content: "\f397" }

.mdi-redo-variant:before { content: "\f398" }

.mdi-redo:before { content: "\f399" }

.mdi-refresh:before { content: "\f39a" }

.mdi-relative-scale:before { content: "\f39b" }

.mdi-reload:before { content: "\f39c" }

.mdi-remote:before { content: "\f39d" }

.mdi-rename-box:before { content: "\f39e" }

.mdi-repeat-once:before { content: "\f39f" }

.mdi-repeat:before { content: "\f3a0" }

.mdi-replay:before { content: "\f3a1" }

.mdi-reply-all:before { content: "\f3a2" }

.mdi-reply:before { content: "\f3a3" }

.mdi-responsive:before { content: "\f3a4" }

.mdi-rewind:before { content: "\f3a5" }

.mdi-ribbon:before { content: "\f3a6" }

.mdi-rotate-3d:before { content: "\f3a7" }

.mdi-rotate-left-variant:before { content: "\f3a8" }

.mdi-rotate-left:before { content: "\f3a9" }

.mdi-rotate-right-variant:before { content: "\f3aa" }

.mdi-rotate-right:before { content: "\f3ab" }

.mdi-routes:before { content: "\f3ac" }

.mdi-rss-box:before { content: "\f3ad" }

.mdi-rss:before { content: "\f3ae" }

.mdi-satellite:before { content: "\f3af" }

.mdi-school:before { content: "\f3b0" }

.mdi-script:before { content: "\f3b1" }

.mdi-security-network:before { content: "\f3b2" }

.mdi-security:before { content: "\f3b3" }

.mdi-send:before { content: "\f3b4" }

.mdi-server-minus:before { content: "\f3b5" }

.mdi-server-network-off:before { content: "\f3b6" }

.mdi-server-network:before { content: "\f3b7" }

.mdi-server-off:before { content: "\f3b8" }

.mdi-server-plus:before { content: "\f3b9" }

.mdi-server-remove:before { content: "\f3ba" }

.mdi-server-security:before { content: "\f3bb" }

.mdi-server:before { content: "\f3bc" }

.mdi-settings-box:before { content: "\f3bd" }

.mdi-settings:before { content: "\f3be" }

.mdi-shape-plus:before { content: "\f3bf" }

.mdi-share-variant:before { content: "\f3c0" }

.mdi-share:before { content: "\f3c1" }

.mdi-shopping-music:before { content: "\f3c2" }

.mdi-shopping:before { content: "\f3c3" }

.mdi-shuffle:before { content: "\f3c4" }

.mdi-sign-caution:before { content: "\f3c5" }

.mdi-silverware-variant:before { content: "\f3c6" }

.mdi-silverware:before { content: "\f3c7" }

.mdi-sim-alert:before { content: "\f3c8" }

.mdi-sim:before { content: "\f3c9" }

.mdi-skip-next:before { content: "\f3ca" }

.mdi-skip-previous:before { content: "\f3cb" }

.mdi-snowman:before { content: "\f3cc" }

.mdi-sort-alphabetical:before { content: "\f3cd" }

.mdi-sort-ascending:before { content: "\f3ce" }

.mdi-sort-descending:before { content: "\f3cf" }

.mdi-sort-numeric:before { content: "\f3d0" }

.mdi-sort-variant:before { content: "\f3d1" }

.mdi-sort:before { content: "\f3d2" }

.mdi-soundcloud:before { content: "\f3d3" }

.mdi-source-fork:before { content: "\f3d4" }

.mdi-source-pull:before { content: "\f3d5" }

.mdi-speaker-off:before { content: "\f3d6" }

.mdi-speaker:before { content: "\f3d7" }

.mdi-spellcheck:before { content: "\f3d8" }

.mdi-spotify:before { content: "\f3d9" }

.mdi-spotlight-beam:before { content: "\f3da" }

.mdi-spotlight:before { content: "\f3db" }

.mdi-star-circle:before { content: "\f3dc" }

.mdi-star-half:before { content: "\f3dd" }

.mdi-star-outline:before { content: "\f3de" }

.mdi-star:before { content: "\f3df" }

.mdi-stocking:before { content: "\f3e0" }

.mdi-stop:before { content: "\f3e1" }

.mdi-store-24-hour:before { content: "\f3e2" }

.mdi-store:before { content: "\f3e3" }

.mdi-stove:before { content: "\f3e4" }

.mdi-subway:before { content: "\f3e5" }

.mdi-swap-horizontal:before { content: "\f3e6" }

.mdi-swap-vertical:before { content: "\f3e7" }

.mdi-sword:before { content: "\f3e8" }

.mdi-sync-alert:before { content: "\f3e9" }

.mdi-sync-off:before { content: "\f3ea" }

.mdi-sync:before { content: "\f3eb" }

.mdi-tab-unselected:before { content: "\f3ec" }

.mdi-tab:before { content: "\f3ed" }

.mdi-table:before { content: "\f3ee" }

.mdi-tablet-android:before { content: "\f3ef" }

.mdi-tablet-ipad:before { content: "\f3f0" }

.mdi-tablet:before { content: "\f3f1" }

.mdi-tag-faces:before { content: "\f3f2" }

.mdi-tag-outline:before { content: "\f3f3" }

.mdi-tag-text-outline:before { content: "\f3f4" }

.mdi-tag:before { content: "\f3f5" }

.mdi-taxi:before { content: "\f3f6" }

.mdi-television-guide:before { content: "\f3f7" }

.mdi-television:before { content: "\f3f8" }

.mdi-temperature-celsius:before { content: "\f3f9" }

.mdi-temperature-fahrenheit:before { content: "\f3fa" }

.mdi-temperature-kelvin:before { content: "\f3fb" }

.mdi-tent:before { content: "\f3fc" }

.mdi-terrain:before { content: "\f3fd" }

.mdi-texture:before { content: "\f3fe" }

.mdi-theater:before { content: "\f3ff" }

.mdi-thermometer-lines:before { content: "\f400" }

.mdi-thermometer:before { content: "\f401" }

.mdi-thumb-down:before { content: "\f402" }

.mdi-thumb-up:before { content: "\f403" }

.mdi-thumbs-up-down:before { content: "\f404" }

.mdi-ticket-account:before { content: "\f405" }

.mdi-ticket:before { content: "\f406" }

.mdi-tie:before { content: "\f407" }

.mdi-timelapse:before { content: "\f408" }

.mdi-timer-10:before { content: "\f409" }

.mdi-timer-3:before { content: "\f40a" }

.mdi-timer-off:before { content: "\f40b" }

.mdi-timer-sand:before { content: "\f40c" }

.mdi-timer:before { content: "\f40d" }

.mdi-timetable:before { content: "\f40e" }

.mdi-toggle-switch-off:before { content: "\f40f" }

.mdi-toggle-switch:before { content: "\f410" }

.mdi-tooltip-edit:before { content: "\f411" }

.mdi-tooltip-image:before { content: "\f412" }

.mdi-tooltip-outline:before { content: "\f413" }

.mdi-tooltip-text:before { content: "\f414" }

.mdi-tooltip:before { content: "\f415" }

.mdi-tor:before { content: "\f416" }

.mdi-traffic-light:before { content: "\f417" }

.mdi-train:before { content: "\f418" }

.mdi-tram:before { content: "\f419" }

.mdi-transcribe-close:before { content: "\f41a" }

.mdi-transcribe:before { content: "\f41b" }

.mdi-trending-down:before { content: "\f41c" }

.mdi-trending-neutral:before { content: "\f41d" }

.mdi-trending-up:before { content: "\f41e" }

.mdi-trophy-award:before { content: "\f41f" }

.mdi-trophy-variant:before { content: "\f420" }

.mdi-trophy:before { content: "\f421" }

.mdi-truck:before { content: "\f422" }

.mdi-tshirt-crew:before { content: "\f423" }

.mdi-tshirt-v:before { content: "\f424" }

.mdi-tumblr-reblog:before { content: "\f425" }

.mdi-tumblr:before { content: "\f426" }

.mdi-twitch:before { content: "\f427" }

.mdi-twitter-box:before { content: "\f428" }

.mdi-twitter-retweet:before { content: "\f429" }

.mdi-twitter:before { content: "\f42a" }

.mdi-ubuntu:before { content: "\f42b" }

.mdi-undo-variant:before { content: "\f42c" }

.mdi-undo:before { content: "\f42d" }

.mdi-unfold-less:before { content: "\f42e" }

.mdi-unfold-more:before { content: "\f42f" }

.mdi-upload:before { content: "\f430" }

.mdi-usb:before { content: "\f431" }

.mdi-vector-curve:before { content: "\f432" }

.mdi-vector-point:before { content: "\f433" }

.mdi-vector-square:before { content: "\f434" }

.mdi-verified:before { content: "\f435" }

.mdi-vibrate:before { content: "\f436" }

.mdi-video-off:before { content: "\f437" }

.mdi-video-switch:before { content: "\f438" }

.mdi-video:before { content: "\f439" }

.mdi-view-agenda:before { content: "\f43a" }

.mdi-view-array:before { content: "\f43b" }

.mdi-view-carousel:before { content: "\f43c" }

.mdi-view-column:before { content: "\f43d" }

.mdi-view-dashboard:before { content: "\f43e" }

.mdi-view-day:before { content: "\f43f" }

.mdi-view-headline:before { content: "\f440" }

.mdi-view-list:before { content: "\f441" }

.mdi-view-module:before { content: "\f442" }

.mdi-view-quilt:before { content: "\f443" }

.mdi-view-stream:before { content: "\f444" }

.mdi-view-week:before { content: "\f445" }

.mdi-voicemail:before { content: "\f446" }

.mdi-volume-high:before { content: "\f447" }

.mdi-volume-low:before { content: "\f448" }

.mdi-volume-medium:before { content: "\f449" }

.mdi-volume-off:before { content: "\f44a" }

.mdi-walk:before { content: "\f44b" }

.mdi-wallet-giftcard:before { content: "\f44c" }

.mdi-wallet-membership:before { content: "\f44d" }

.mdi-wallet-travel:before { content: "\f44e" }

.mdi-wallet:before { content: "\f44f" }

.mdi-watch:before { content: "\f450" }

.mdi-water-off:before { content: "\f451" }

.mdi-water-pump:before { content: "\f452" }

.mdi-water:before { content: "\f453" }

.mdi-weather-cloudy:before { content: "\f454" }

.mdi-weather-hail:before { content: "\f455" }

.mdi-weather-lightning:before { content: "\f456" }

.mdi-weather-night:before { content: "\f457" }

.mdi-weather-partlycloudy:before { content: "\f458" }

.mdi-weather-pouring:before { content: "\f459" }

.mdi-weather-rainy:before { content: "\f45a" }

.mdi-weather-snowy:before { content: "\f45b" }

.mdi-weather-sunny:before { content: "\f45c" }

.mdi-weather-sunset-down:before { content: "\f45d" }

.mdi-weather-sunset-up:before { content: "\f45e" }

.mdi-weather-sunset:before { content: "\f45f" }

.mdi-weather-windy-variant:before { content: "\f460" }

.mdi-weather-windy:before { content: "\f461" }

.mdi-web:before { content: "\f462" }

.mdi-whatsapp:before { content: "\f463" }

.mdi-wheelchair-accessibility:before { content: "\f464" }

.mdi-white-balance-auto:before { content: "\f465" }

.mdi-white-balance-incandescent:before { content: "\f466" }

.mdi-white-balance-irradescent:before { content: "\f467" }

.mdi-white-balance-sunny:before { content: "\f468" }

.mdi-wifi:before { content: "\f469" }

.mdi-wikipedia:before { content: "\f46a" }

.mdi-window-closed:before { content: "\f46b" }

.mdi-window-open:before { content: "\f46c" }

.mdi-windows:before { content: "\f46d" }

.mdi-xbox:before { content: "\f46e" }

.mdi-xda:before { content: "\f46f" }

.mdi-xml:before { content: "\f470" }

.mdi-youtube-play:before { content: "\f471" }

.mdi-zip-box:before { content: "\f472" }