.row-actions{
	text-align: right;
	vertical-align: middle;
	a{
		text-decoration: none;
	}
	button{
		//font-size:12px;
		background: none;
	}
	.row-action{
		margin:0 2px;
		display: inline-block;
	}
	a .icon-font-awesome,.mdi,.icon-font-awesome{
		color:#aaa;
		&:hover{
			color:#000;
		}
	}
	.mdi{
		font-size:1.4em;
	}
	.dropdown-icon{
		width:18px !important;
	}
	&.row-actions-left{
		text-align: left;
	}
}
