.widget-search .widget-body {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.widget-search,
.widget-search * {
	@include box-sizing(border-box);
}

.widget-search .crud-table{
    min-width:960px;
}

.widget-search .crud-table-item-cell {
	white-space: normal;
}

.widget-search-filter-component {
	display: table-cell;
	overflow-x: hidden;
	background: #fff;
	width: 50px;
	-webkit-transition: width .25s ease;
	transition: width .25s ease;
	border-right: 1px solid #ccc;
}

.widget-search-filter-component-header {
	white-space: nowrap;
	font-size: 0;
	margin:0px 0 0px 14px;
	padding:20px 7px 25px 0;
}

.widget-search-filter-collapse-button {
	display: inline-block;
	text-align: left;
	vertical-align:middle;
	margin:0 3px 0 0;
	color:#000;
	&.button-xsmall{
		padding:1px 2px;
		line-height: 1.7;
	}
	i{
		font-size: 24px !important;
		line-height:16px;
		top:0 !important;
	}
}

.widget-search-filter-component-title {
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	vertical-align:middle;
}

.widget-search-filter-unlocked{
	.widget-search-filter-component{
		overflow:hidden;
	}
	.widget-search-filter-component-title {
		visibility: hidden;
	}
	.widget-search-filter-body {
		visibility: hidden;
	}
	.spot-enlighter-tag-wrapper{
		visibility: hidden !important;
	}
}

.widget-search-filter-locked .widget-search-filter-component {
	width: 300px;
}

.widget-search-filter-save{
	max-height:250px;
	overflow-y: scroll;
	background:$background-color;
	border-bottom:1px solid #e5e5e5;
	border-top:1px solid #e5e5e5;
}

.widget-search-filter-save-header{
	padding:1.3em 10px 1em 1.5em;
	font-size:1.15em;
	font-weight: 600;
}

.widget-search-filter-component .form-fieldset-header.widget-search-filter-save-header{
	padding-top:1em;
	&:hover{
		background: #fff;
		cursor:default;
	}
	.widget-search-filter-collapse{
		display: none;
	}
}

.widget-search-filter-save-list{
	list-style:none;
	margin-bottom:1em;
}

.widget-search-filter-save-list-item {
	position: relative;
	margin:0 -5px;
	padding:1px 5px;
}

.widget-search-filter-save-list-item .icon-font-awesome {
	@include transition(opacity 500ms);
	margin-right:7px;
}

.widget-search-save-list-item-label {
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 240px;
	display: inline-block;
	line-height: 1.8;
	background: none;
	font-size:1em;
	text-align: left;
	color:#666;
	i{
		width:16px;
		display: inline-block;
	}
	span{
		vertical-align: middle;
	}
	&:focus{
		outline:none;
	}
	&:hover{
		color:#000;
	}
}

.widget-search-filter-save-list-item-active{
	.widget-search-save-list-item-label{
		font-weight: bold;
		color:#000 !important;
	}
}

.widget-search-filter-save-list-item-loading .icon-font-awesome {
	opacity: 0.5;
}

.filter-menu {
	position: absolute;
	right: 5px;
	top: 5px;
}

.filter-menu.popup-menu {
	position: fixed;
	margin-left: -150px;
}

.filter-menu-open.button {
	line-height: 1;
	width:20px;
	&.dropdown-toggle:after{
		margin-left:0;
	}
}

.filter-settings{
	margin:5px -14px 10px -21px;
	padding:12px 17px 10px 17px;
	//border:1px solid #d0d0d0;
	//border-right:none;
	//border-left:none;
	background:darken($background-color,5%);
	@include box-shadow(inset 0 0 3px rgba(0,0,0,0.15));
	position: relative;
}

.filter-settings-label{
	font-weight: bold;
}

.filter-settings-internal{
	padding:0 0 8px;
}

.filter-settings-public{
	padding:0 0 12px;
}

.filter-settings-confirm{
	padding:4px 0;
}

.filter-settings-close{
	width:100%;
}

.filter-share-permission-add,.filter-share-position{
	list-style: none;
	border:1px solid #bbb;
	padding:10px;
	margin:8px 0 0;
	background:#fdfdfd;
	position: relative;
	@include box-shadow(0 0 2px rgba(0,0,0,0.15));
	.position-picker-select{
		max-width:150px;
	}
}

.filter-share-position-type{
	margin-bottom:5px;
}

.filter-share-position-type-label{
	font-weight: bold;
	width:65px;
	display: inline-block;
}

.filter-share-permission-add-button{
	margin-top:10px;
}

.filter-share-position-right-list{
	display: inline-block;
}

.filter-share-position-capability{
	margin-right:5px;
}

.filter-share-position-remove,.filter-share-permission-add-control-cancel{
	position: absolute;
	top:5px;
	right:5px;
}

.filter-share-permission-add-control-label{
	margin:-10px -10px 10px -10px;
	padding:6px 10px;
	border-bottom:1px solid #bbb;
	font-weight: bold;
	background:#e0e0e0;
}

.filter-share-permission-add-control-confirm{
	width:100%;
	margin-top:10px;
}

.widget-search-filter-save-list-item-edit{
	.widget-search-save-list-item-label{
		width:auto;
		span{
			display: none;
		}
		input[type="radio"]{
			@include opacity(.5);
		}
		&:hover{
			cursor:default;
		}
	} 
	.widget-search-save-list-item-form-name{
		width:205px;
		display: inline-block;
		line-height: 1;
		vertical-align: top;
		input{
			max-width:250px;
			display: inline-block;
			padding:2px;
			margin-left:-3px;
		}
	}
}

.widget-search-result {
	display: table-cell;
	height: 100%;
	width: 100%;
	&.widget-search-result-all{
		.widget-search-result-header{
			border-bottom:none;
		}
		.widget-search-result-list{
			list-style:none;
		}
		.accordion-panel{
			padding:0;
			border-bottom:none;
		}
	}
}

.zs-always-visible-hidden .widget-search-result-list {
	// position: relative;
	// top: 0;
	// z-index: 10000;
}

.widget-search{
	.form-field-label-empty {
		display: none;
	}
	.form-fieldset-collapse {
		font-size: 10px;
		color:#bbb;
		&:focus{
			outline:0;
		}
	}
	.form-fieldset-header {
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		font-weight: 500;
		color:#888;
	}
	.form-fieldset-changed{
		.form-fieldset-header {
			font-weight: bold;
			color:#000;
		}
	}
}

.widget-search-settings-form-name{
	form[name=searchNameForm]{
		width:658px;
		.form-fieldset{
			padding-top:0;
			.form-field{
				padding-top:5px;
				input{
					width:447px;
				}
			}
		}
	}
}

.widget-search-settings-column > div{
	border:1px solid #ccc;
	ul li, ul li button{
		background:none;
		font-size:13px;
	}
	ul li{
		border-bottom:1px solid #eee;
	}
}

.widget-search-settings-column-title{
	display: block;
	padding:0px 0 10px;
}

.widget-search-settings-column-header{
	background:#eee;
	min-height:30px;
	padding:7px;
	border-bottom:1px solid #ccc;
	input{
		background:url("/images/icon-filter.png") no-repeat scroll 7px center #fff;
		width:100%;
		box-sizing:border-box;
		padding-left:25px;
	}
	span{
		line-height: 2.5;
		font-weight: bold;
		text-align: center;
		display: block;
	}
}

.widget-search-settings-column-available {
	display: inline-block;
	width: 300px;
	margin-right: 50px;
	vertical-align: top;
	position:relative;
	button{
		width:100%;
		padding:6px 10px;
		text-align: left;
		&:hover{
			background:#f6f6f6;
		}
	}
	&:after{
		content: "\F054";
		font-family: FontAwesome;
		font-size:30px;
		color: #ccc;
		position: absolute;
		right: -37px;
		top: 50%;
		margin-top: -15px;
	}
}

.widget-search-settings-column-selected {
	display: inline-block;
	width: 300px;
	vertical-align: top;
	ul li{
		padding:4px 10px;
		position:relative;
		button{
			position:absolute;
			right:10px;
			top:50%;
			margin-top:-5px;
			i{
				font-size:12px;
				color:#999;
				&:hover{
					color:#000;
				}
			}
		}
	}
}

.widget-search-settings-column-list {
	height: 300px;
	overflow-y: auto;
}

.widget-search-filter-component{
	.form-fieldset{
		.form-fieldset{
			border:none;
		}
	}
	.form-fieldset-header{
		margin:0;
		padding:.8em .9em;
		border-bottom:1px solid #e5e5e5;
		&:hover{
			color:#000;
		}
	}
	.form-fieldset-meta{
		border-bottom:none;
		padding:0;
	}
	.form-field{
		padding:0 0 5px;
		border-bottom:none;
		input[type=text],.spot-enlighter-wrapper{
			width:100%;
		}

	}
	.form-fieldset-children{
		padding:1em;
		background: #fff;
		border-bottom:1px solid #e5e5e5;
		.form-fieldset-children{
			padding:0;
			border:none;
			background: transparent;
		}
	}
	.widget-search-filter-save-body{
		padding:1.25em 1em 1.25em 1.5em;
		background:#fff;
	}
	.form-fieldset-title{
		font-size:14px;
	}
	.form-field-input{
		width:100%;
	}
	.form-status {
		display: none;
	}
	.form-field-button-list {
		display: none;
	}
}

.widget-search-result {
	padding:0px 30px 15px;
	position: relative;
}

.widget-search-result-header{
	padding:23px 0;
	border-bottom:1px solid #ccc;
	width: 100%;
	position:relative;
}

.widget-search-result-header-left{
	display: inline-block;
	background: #fff;
	position: relative;
	z-index: 1;
	padding-bottom:2px;
}

.widget-search-result-header-label,
.widget-search-result-header-label-counter{
	font-size:18px;
	font-weight: 600;
	padding-right: 5px;
	vertical-align: middle;
	height:28px;
	display: inline-block;
}

[data-zs-modal-title="Uitgebreide statistieken"]{
	.modal-body{
		max-width:330px;
	}
}

.widget-search-result-header-label-title,
.widget-search-result-header-label-counter{
	display: inline-block;
	vertical-align: middle;
}

.widget-search-result-header-edited .widget-search-result-header-label-title{
	max-width:150px;
}

.widget-search-result-header-label-title{
	max-width:280px;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

@media only screen and (min-width: 1280px) {
	.widget-search-result-header-edited .widget-search-result-header-label-title{
		max-width:270px;
	}
	.widget-search-result-header-label-title{
		max-width:400px;
	}
}

@media only screen and (min-width: 1440px) {
	.widget-search-result-header-edited .widget-search-result-header-label-title{
		max-width:430px;
	}
	.widget-search-result-header-label-title{
		max-width:600px;
	}
}

@media only screen and (min-width: 1680px) {
	.widget-search-result-header-edited .widget-search-result-header-label-title{
		max-width:650px;
	}
	.widget-search-result-header-label-title{
		max-width:800px;
	}
}

.widget-search-result-header-operations{
	display: inline-block;
	vertical-align: middle;
	list-style: none;
	opacity:0;
	height:25px;
	@include transition(opacity 1s);
	li{display:inline;}
	&.widget-search-result-header-operations-show{
		opacity:1;
	}
}

.widget-search-result-header-has-changed{
	color:#999;
	font-weight: normal;
	position:relative;
	margin-left:14px;
	margin-right:4px;
	&:before{
		border-top: 1px solid #bbb;
		content: "";
		position: absolute;
		left: -17px;
		top: 8px;
		width: 12px;
	}
}

.widget-search-result-header-save-options,.widget-search-result-header-display{
	button i{
		font-size:1.077em;
	}
}

.widget-search-result-header-save-options .button{
	padding-right:5px;
	padding-left:5px;
}

.widget-search-result-header-save-options-button-save-as-text{
	display: none;
}

@media only screen and (min-width: 1280px) {
	.widget-search-result-header-save-options-button-save-as-text{
		display: inline;
	}
}

.widget-search-result-header-select{
	vertical-align: middle;
	margin-right:10px;
	padding:5px 0;
	display: inline-block;
}

.widget-search-result-header-display {
	text-align: right;
	vertical-align: middle;
	position: absolute;
	right:0;
	display: inline-block;
	top:23px;
	.button-group{
		display: inline-block;
		vertical-align: middle;
	}
}

@media only screen and (max-width: 960px) {
	.widget-search-result-header-display{
		float:none;
	}
}


.widget-search-result-header-display-show-location{
	vertical-align: middle;
	margin-right:10px;
}

.widget-search-result-list{
	.widget-search-result-list-item{
		.widget-search-result-list-item-header{
			width:100%;
			@include box-sizing(border-box);
			text-align: left;
			display: block;
		}
	}
}

.widget-search-result-header-column-management{
	display: inline-block;
	vertical-align: middle;
	margin-left:5px;
}

.widget-search-result-header-column-management-button-text{
	display: none;
}

@media only screen and (min-width: 1280px) {
	.widget-search-result-header-column-management-button-text{
		display: inline;
	}
}

.widget-search-result-list-item-empty.no-results{
	text-align:left;
}

.widget-search-result-loader {
	background:rgba(255,255,255,.65);
	position:absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
	display:none;
	@include transition(opacity 0.25s ease-out);
	.widget-search-result-loader-spinner-wrapper{
		position:absolute;
		top: 160px;
		left: 50%;
		margin-left:-16px;
		.widget-search-result-loader-spinner{
			background:url("/images/spinner-global.gif") no-repeat 0 0;
			width:32px;
			height:32px;
			position:fixed;
		}
	}
}

.widget-search-loading .widget-search-result-loader {
	opacity: 1;
	bottom:0;
	right:0;
	display:block;
}

.widget-search-settings .form-status {
	display: none;
}

.crud-table-column-header-case_number {
	text-align: right;
	padding-right: 20px;
}

.form-fieldset-name-kenmerken{
	.form-field-spot-enlighter-list-item{
		padding:0;
		white-space: normal;
		overflow: visible;
		text-overflow: initial;
		border:1px solid #ccc;
		background: #f5f5f5;
		margin-bottom:6px;
		&:before{
		    content: "";
		    display: none;
		}
		.form-field-spot-enlighter-list-item-label{
			position:relative;
			padding-left:30px;
			padding-right:22px;
			padding-top:6px;
			padding-bottom:6px;
			font-weight: 600;
			&:before{
			    font-family: FontAwesome;
			    content: "\f0da";
			    font-size: 1em;
			    width: 10px;
			    display: inline-block;
			    text-align: center;
			    position:absolute;
			    left:12px;
			}
		}
		.form-fieldset-children{
			margin:0;
			padding:.25em 1em 1em;
		}
	}
	.form-field-spot-enlighter-list-item-expanded{
		.form-field-spot-enlighter-list-item-label{
			&:before{
			    content: "\f0d7";
			}
		}
	}
	.form-field-spot-enlighter-list{
		margin:10px 0 15px;
	}
	.form-field-spot-enlighter-list-item-options{
		height:auto;
	}
	.checkbox-list-item {
		color: #999;
	}
	.checkbox-list-item-always-visible {
		color: inherit;
	}
}

.widget-search-result-map{
	.map-header{
		display: none;
	}
}

.widget-search-result-map-visible{
	.widget-search-result-map{
		.map-wrap{
			margin-bottom:20px;
		}
	}
	.crud-pagination-top{
		display: block;
		padding-top:0;
	}
}

.widget-search-result-chart {
	.highcharts-container{
		padding:10px 0;
	}
	.no-results{
		text-align: left;
	}
}

.widget-search .crud-table-column-header-remove {
    position:absolute;
    right:0px;
    top:0px;
    height:$crud-table-header-height;
    width:20px;
    display: none;
}